{% comment %}
	------------------------------------------------------------------------------
	Snippet: Cart notification (Only settings.design == 'alternate')
	Render shopping cart notification

	Usage:
	{%- render 'cart-notification-new-error' -%}
	------------------------------------------------------------------------------
{% endcomment %}

{{ 'cart-notification-new.build.css' | asset_url | stylesheet_tag }}
<script src="{{- 'cart-notification-error.build.min.js' | asset_url -}}" defer></script>

<div class="cart-notification-new error js-cart-notification-error">
	<div class="cart-notification-new__container js-cart-notification-modal" aria-modal="true" role="dialog" tabindex="-1">
		<div class="cart-notification-new__header">
			<h2 class="cart-notification-new__heading h4 js-notification-error-heading">
				{{- 'cart.notifications.error' | t -}}:
			</h2>

			<button
				type="button"
				class="focus-visible-outline cart-notification-new__close"
				data-notification-close
				aria-label="{{- 'general.accessibility.close_modal' | t | escape -}}"
			>
				{% render 'icons-small', icon: 'close' %}
			</button>
		</div>

		<div class="cart-notification-new__body js-cart-notification-content"></div>
	</div>
</div>
