<button
	class="compare-products-popup-button js-compare-products-popup-button"
	data-count=""
	type="button"
	aria-label="{{- "products.compare_products.popup_button" | t -}}"
>
	{%- render 'icons-big', icon: 'compare' -%}
</button>
