{% comment %}
  ------------------------------------------------------------------------------
  Snippet: Icons - misc
  - Big general purpose icons 44x44
  ------------------------------------------------------------------------------
{% endcomment %}
{% case icon %}
	{% when 'cart' %}
		<svg class="icon" width="44" height="44" viewBox="0 0 44 44" fill="none" aria-hidden="true">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M12.7369 17.1129C12.4277 17.1129 12.1677 17.3397 12.1326 17.6506L11.0232 27.4676C10.9069 28.4964 11.2311 29.5483 11.9127 30.321C12.594 31.0938 13.572 31.5556 14.5956 31.5556H29.4044C30.428 31.5556 31.4059 31.0919 32.0873 30.3192C32.7688 29.5463 33.093 28.4926 32.9768 27.4636L31.8674 17.6506C31.8323 17.3397 31.5723 17.1129 31.2631 17.1129H28.4598C28.4319 16.997 28.4011 16.8822 28.3675 16.7688C27.5438 13.9926 25.0108 12 22.0203 12C19.0297 12 16.4967 13.9926 15.673 16.7688C15.6394 16.8822 15.6086 16.997 15.5807 17.1129H12.7369ZM13.3547 18.4129L12.315 27.6135C12.2391 28.2846 12.4538 28.9693 12.8876 29.4611C13.3347 29.9682 13.9636 30.2556 14.5956 30.2556H29.4044C30.0348 30.2556 30.664 29.9677 31.1122 29.4594C31.5457 28.9678 31.7609 28.2814 31.685 27.6097C31.685 27.6096 31.685 27.6097 31.685 27.6097L30.6453 18.4129H13.3547ZM27.1992 17.1129C27.0622 16.648 26.8684 16.2122 26.6262 15.8129C25.6713 14.2389 23.9639 13.2309 22.0203 13.2309C20.0766 13.2309 18.3692 14.2389 17.4143 15.8129C17.1721 16.2122 16.9783 16.648 16.8413 17.1129H27.1992Z"/>
		</svg>

	{% when 'cart-added' %}
		<svg class="icon" width="44" height="44" viewBox="0 0 44 44" fill="none" aria-hidden="true">
			<path opacity="0.1" d="M0 22C0 9.84974 9.84974 0 22 0C34.1503 0 44 9.84974 44 22C44 34.1503 34.1503 44 22 44C9.84974 44 0 34.1503 0 22Z" fill="#81B154"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M12.7369 17.1129C12.4277 17.1129 12.1677 17.3397 12.1326 17.6506L11.0232 27.4676C10.9069 28.4964 11.2311 29.5483 11.9127 30.321C12.594 31.0938 13.572 31.5556 14.5956 31.5556H29.4044C30.428 31.5556 31.4059 31.0919 32.0873 30.3192C32.7688 29.5463 33.093 28.4926 32.9768 27.4636L31.8674 17.6506C31.8323 17.3397 31.5723 17.1129 31.2631 17.1129H28.4598C28.4319 16.997 28.4011 16.8822 28.3675 16.7688C27.5438 13.9926 25.0108 12 22.0203 12C19.0297 12 16.4967 13.9926 15.673 16.7688C15.6394 16.8822 15.6086 16.997 15.5807 17.1129H12.7369ZM27.1992 17.1129C27.0622 16.648 26.8684 16.2122 26.6262 15.8129C25.6713 14.2389 23.9639 13.2309 22.0203 13.2309C20.0766 13.2309 18.3692 14.2389 17.4143 15.8129C17.1721 16.2122 16.9783 16.648 16.8413 17.1129H27.1992Z" fill="#81B154"/>
			<path d="M27 20.8412L20.1429 28L17 24.7189L17.8057 23.8777L20.1429 26.3117L26.1943 20L27 20.8412Z" fill="white"/>
		</svg>

	{% when 'filters' %}
		<svg class="icon" width="20" height="20" viewBox="0 0 20 20" fill="none" aria-hidden="true">
			<path d="M1.375 4.8125H1.47262C1.62269 5.40209 1.96491 5.92487 2.44524 6.29826C2.92557 6.67165 3.51661 6.87435 4.125 6.87435C4.73339 6.87435 5.32443 6.67165 5.80476 6.29826C6.28509 5.92487 6.62731 5.40209 6.77737 4.8125H20.625C20.8073 4.8125 20.9822 4.74006 21.1111 4.61113C21.2401 4.4822 21.3125 4.30733 21.3125 4.125C21.3125 3.94266 21.2401 3.76779 21.1111 3.63886C20.9822 3.50993 20.8073 3.4375 20.625 3.4375H6.77737C6.62731 2.84791 6.28509 2.32512 5.80476 1.95174C5.32443 1.57835 4.73339 1.37564 4.125 1.37564C3.51661 1.37564 2.92557 1.57835 2.44524 1.95174C1.96491 2.32512 1.62269 2.84791 1.47262 3.4375H1.375C1.19266 3.4375 1.0178 3.50993 0.888864 3.63886C0.759933 3.76779 0.6875 3.94266 0.6875 4.125C0.6875 4.30733 0.759933 4.4822 0.888864 4.61113C1.0178 4.74006 1.19266 4.8125 1.375 4.8125ZM4.125 2.75C4.39695 2.75 4.66279 2.83064 4.88891 2.98173C5.11503 3.13281 5.29126 3.34756 5.39533 3.59881C5.4994 3.85006 5.52663 4.12652 5.47358 4.39325C5.42053 4.65997 5.28957 4.90497 5.09727 5.09727C4.90497 5.28957 4.65997 5.42052 4.39325 5.47358C4.12653 5.52663 3.85006 5.4994 3.59881 5.39533C3.34756 5.29126 3.13282 5.11502 2.98173 4.88891C2.83064 4.66279 2.75 4.39695 2.75 4.125C2.75 3.76033 2.89487 3.41059 3.15273 3.15273C3.41059 2.89486 3.76033 2.75 4.125 2.75ZM20.625 10.3125H20.5274C20.3773 9.72291 20.0351 9.20012 19.5548 8.82674C19.0744 8.45335 18.4834 8.25064 17.875 8.25064C17.2666 8.25064 16.6756 8.45335 16.1952 8.82674C15.7149 9.20012 15.3727 9.72291 15.2226 10.3125H1.375C1.19266 10.3125 1.0178 10.3849 0.888864 10.5139C0.759933 10.6428 0.6875 10.8177 0.6875 11C0.6875 11.1823 0.759933 11.3572 0.888864 11.4861C1.0178 11.6151 1.19266 11.6875 1.375 11.6875H15.2226C15.3727 12.2771 15.7149 12.7999 16.1952 13.1733C16.6756 13.5466 17.2666 13.7494 17.875 13.7494C18.4834 13.7494 19.0744 13.5466 19.5548 13.1733C20.0351 12.7999 20.3773 12.2771 20.5274 11.6875H20.625C20.8073 11.6875 20.9822 11.6151 21.1111 11.4861C21.2401 11.3572 21.3125 11.1823 21.3125 11C21.3125 10.8177 21.2401 10.6428 21.1111 10.5139C20.9822 10.3849 20.8073 10.3125 20.625 10.3125ZM17.875 12.375C17.6031 12.375 17.3372 12.2944 17.1111 12.1433C16.885 11.9922 16.7087 11.7774 16.6047 11.5262C16.5006 11.2749 16.4734 10.9985 16.5264 10.7317C16.5795 10.465 16.7104 10.22 16.9027 10.0277C17.095 9.83543 17.34 9.70447 17.6068 9.65142C17.8735 9.59836 18.1499 9.62559 18.4012 9.72966C18.6524 9.83373 18.8672 10.01 19.0183 10.2361C19.1694 10.4622 19.25 10.728 19.25 11C19.25 11.3647 19.1051 11.7144 18.8473 11.9723C18.5894 12.2301 18.2397 12.375 17.875 12.375ZM20.625 17.1875H13.6524C13.5023 16.5979 13.1601 16.0751 12.6798 15.7017C12.1994 15.3283 11.6084 15.1256 11 15.1256C10.3916 15.1256 9.80057 15.3283 9.32024 15.7017C8.83991 16.0751 8.49769 16.5979 8.34763 17.1875H1.375C1.19266 17.1875 1.0178 17.2599 0.888864 17.3889C0.759933 17.5178 0.6875 17.6927 0.6875 17.875C0.6875 18.0573 0.759933 18.2322 0.888864 18.3611C1.0178 18.4901 1.19266 18.5625 1.375 18.5625H8.34763C8.49769 19.1521 8.83991 19.6749 9.32024 20.0483C9.80057 20.4216 10.3916 20.6244 11 20.6244C11.6084 20.6244 12.1994 20.4216 12.6798 20.0483C13.1601 19.6749 13.5023 19.1521 13.6524 18.5625H20.625C20.8073 18.5625 20.9822 18.4901 21.1111 18.3611C21.2401 18.2322 21.3125 18.0573 21.3125 17.875C21.3125 17.6927 21.2401 17.5178 21.1111 17.3889C20.9822 17.2599 20.8073 17.1875 20.625 17.1875ZM11 19.25C10.7281 19.25 10.4622 19.1694 10.2361 19.0183C10.01 18.8672 9.83374 18.6524 9.72967 18.4012C9.6256 18.1499 9.59837 17.8735 9.65142 17.6067C9.70447 17.34 9.83543 17.095 10.0277 16.9027C10.22 16.7104 10.465 16.5795 10.7318 16.5264C10.9985 16.4734 11.2749 16.5006 11.5262 16.6047C11.7774 16.7087 11.9922 16.885 12.1433 17.1111C12.2944 17.3372 12.375 17.603 12.375 17.875C12.375 18.2397 12.2301 18.5894 11.9723 18.8473C11.7144 19.1051 11.3647 19.25 11 19.25Z" fill="currentColor"/>
		</svg>

	{% when 'point' %}
		<svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 46 46" fill="none">
			<circle cx="23" cy="23" r="22" fill="white" stroke="#E6E6E6"/>
			<path d="M22.082 30V23.8033H16V22.0246H22.082V16H23.918V22.0246H30V23.8033H23.918V30H22.082Z" fill="black"/>
		</svg>

	{% when 'point-button-active' %}
		<svg class="icon" width="46" height="46" viewBox="0 0 46 46" fill="none" aria-hidden="true">
			<circle cx="23" cy="23" r="22" fill="white" stroke="rgba(0, 0, 0, 0.1)"/>
			<circle cx="23" cy="23" r="4" fill="rgba(0, 0, 0, 0.7)"/>
		</svg>

	{% when 'point-button' %}
		<svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 46 46" fill="none" aria-hidden="true">
			<circle cx="23" cy="23" r="22" fill="white" stroke="rgba(0, 0, 0, 0.1)"/>
			<path d="M22.082 30V23.8033H16V22.0246H22.082V16H23.918V22.0246H30V23.8033H23.918V30H22.082Z" fill="rgba(0, 0, 0, 0.7)"/>
		</svg>

	{% when 'quik-view' %}
		<svg class="icon" width="44" height="44" viewBox="0 0 44 44" fill="none" aria-hidden="true">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M27.1115 26.2139L32.7917 31.8033C33.0695 32.077 33.0695 32.5212 32.791 32.7949C32.5132 33.0686 32.0621 33.0686 31.7843 32.7949L26.0821 27.1835C24.4908 28.4536 22.4649 29.2176 20.2561 29.2176C15.1439 29.2176 11 25.1397 11 20.1087C11 15.0776 15.1439 10.9998 20.2561 10.9998C25.3683 10.9998 29.5122 15.0776 29.5129 20.1087C29.5129 22.4605 28.599 24.5978 27.1115 26.2139ZM12.4242 20.1087C12.4242 24.3654 15.9306 27.8162 20.2561 27.8162C24.5816 27.8162 28.088 24.3654 28.088 20.1087C28.088 15.852 24.5816 12.4012 20.2561 12.4012C15.9306 12.4012 12.4242 15.852 12.4242 20.1087ZM19.5557 15.8887H20.778V19.5555H24.4447V20.7777H20.778V24.4445H19.5557V20.7777H15.889V19.5555H19.5557V15.8887Z"/>
		</svg>
	{% when 'round-arrow' %}
		<svg class="icon icon--rtl" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
			<circle cx="22" cy="22" r="21.5" fill="none" stroke="currentColor"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M24.369 18.1591L27.8402 21.6159C28.0533 21.828 28.0533 22.172 27.8402 22.3841L24.369 25.8409C24.156 26.053 23.8106 26.053 23.5976 25.8409C23.3846 25.6288 23.3846 25.2848 23.5976 25.0727L26.1377 22.5432L16.5455 22.5432C16.2442 22.5432 16 22.3 16 22C16 21.7 16.2442 21.4568 16.5455 21.4568L26.1377 21.4568L23.5976 18.9273C23.3846 18.7151 23.3846 18.3712 23.5976 18.1591C23.8106 17.947 24.156 17.947 24.369 18.1591Z" fill="currentColor"/>
		</svg>
	{% when 'quick-view'  %}
		<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M16.1115 15.2139L21.7917 20.8033C22.0695 21.077 22.0695 21.5212 21.791 21.7949C21.5132 22.0686 21.0621 22.0686 20.7843 21.7949L15.0821 16.1835C13.4908 17.4536 11.4649 18.2176 9.2561 18.2176C4.14392 18.2176 0 14.1397 0 9.10869C0 4.07764 4.14392 -0.000244141 9.2561 -0.000244141C14.3683 -0.000244141 18.5122 4.07764 18.5129 9.10869C18.5129 11.4605 17.599 13.5978 16.1115 15.2139ZM1.42418 9.10869C1.42418 13.3654 4.93064 16.8162 9.2561 16.8162C13.5816 16.8162 17.088 13.3654 17.088 9.10869C17.088 4.85196 13.5816 1.40122 9.2561 1.40122C4.93064 1.40122 1.42418 4.85196 1.42418 9.10869ZM8.55572 4.88874H9.77797V8.55548H13.4447V9.77773H9.77797V13.4445H8.55572V9.77773H4.88898V8.55548H8.55572V4.88874Z" fill="currentColor"/>
		</svg>

	{% when 'checkmark'  %}
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48">
			<path fill="none" stroke="currentColor" stroke-width="1" d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path>
		</svg>

	{% when 'compare'  %}
		<svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
			<path d="m318.538-187.692-22-22 132.539-131.769H100v-30.77h329.077L296.538-504l22-22 169.154 169.154-169.154 169.154ZM641.462-434 472.308-603.154l169.154-169.154 22 21.231-132.539 132.538H860v30.77H530.923L663.462-456l-22 22Z"/>
		</svg>
	{% else %}
		<span>No icon found!</span>
{% endcase %}
