{% comment %}
  ------------------------------------------------------------------------------
  Snippet: Icons - misc
  - Small general purpose icons 14x14
  ------------------------------------------------------------------------------
{% endcomment %}
{% case icon %}
	{% when 'arrow-down' %}
		<svg class="icon" width="14" height="14" viewBox="0 0 14 14" fill="none" aria-hidden="true">
			<path d="M7.27442 9.5864L11.8869 4.96111C12.038 4.80957 12.0377 4.56422 11.8861 4.41293C11.7346 4.26176 11.4891 4.26215 11.338 4.41371L6.99998 8.76369L2.66203 4.41355C2.51086 4.26201 2.26553 4.26162 2.11397 4.41277C2.03799 4.48861 2 4.58797 2 4.68732C2 4.78642 2.03774 4.88539 2.11319 4.96109L6.72557 9.5864C6.79819 9.65939 6.89702 9.70035 6.99998 9.70035C7.10295 9.70035 7.20166 9.65927 7.27442 9.5864Z"/>
		</svg>

	{% when 'arrow-right' %}
		<svg class="icon icon--rtl" width="14" height="14" viewBox="0 0 14 14" fill="none" aria-hidden="true">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M9.36899 3.15909L12.8402 6.61591C13.0533 6.82804 13.0533 7.17196 12.8402 7.38409L9.36899 10.8409C9.15598 11.053 8.81061 11.053 8.5976 10.8409C8.38459 10.6288 8.38459 10.2848 8.5976 10.0727L11.1377 7.54318L1.54545 7.54319C1.24421 7.54319 1 7.29999 1 7C1 6.70001 1.24421 6.45681 1.54545 6.45681L11.1377 6.45681L8.5976 3.92728C8.38459 3.71515 8.38459 3.37122 8.5976 3.15909C8.81061 2.94697 9.15598 2.94697 9.36899 3.15909Z"/>
		</svg>

	{% when 'arrow-left' %}
		<svg class="icon icon--rtl" width="14" height="14" viewBox="0 0 14 14" fill="none" aria-hidden="true">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M4.63101 10.8409L1.15982 7.38409C0.946717 7.17196 0.946717 6.82804 1.15982 6.61591L4.63101 3.15909C4.84402 2.94697 5.18939 2.94697 5.4024 3.15909C5.61541 3.37122 5.61541 3.71515 5.4024 3.92728L2.86229 6.45681H12.4545C12.7558 6.45681 13 6.70001 13 7C13 7.29999 12.7558 7.54319 12.4545 7.54319H2.86229L5.4024 10.0727C5.61541 10.2848 5.61541 10.6288 5.4024 10.8409C5.18939 11.053 4.84402 11.053 4.63101 10.8409Z"/>
		</svg>

	{% when 'close' %}
		<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z"/>
		</svg>

	{% when 'search' %}
		<svg class="icon" width="16" height="16" viewBox="0 0 16 16" fill="none" aria-hidden="true">
			<path d="M15.8482 15.1295L11.7173 11.0646C12.799 9.88931 13.4637 8.33496 13.4637 6.62455C13.4632 2.96568 10.4495 0 6.73158 0C3.0137 0 0 2.96568 0 6.62455C0 10.2834 3.0137 13.2491 6.73158 13.2491C8.33796 13.2491 9.8113 12.6935 10.9686 11.7698L15.1156 15.8507C15.3176 16.0498 15.6457 16.0498 15.8477 15.8507C16.0503 15.6517 16.0503 15.3286 15.8482 15.1295ZM6.73158 12.2299C3.58585 12.2299 1.03575 9.72029 1.03575 6.62455C1.03575 3.52881 3.58585 1.01923 6.73158 1.01923C9.87734 1.01923 12.4274 3.52881 12.4274 6.62455C12.4274 9.72029 9.87734 12.2299 6.73158 12.2299Z"/>
		</svg>

	{% when 'full-witdh' %}
		<svg class="icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
			<path d="M24 13h-4v-9h-9v-4h13v13zm-24 11h13v-4h-9v-9h-4v13z"/>
		</svg>

	{% when 'star' %}
		<svg class="icon" width="14" height="14" viewBox="0 0 14 14" fill="none" aria-hidden="true">
			<path d="M7.0001 10.5865L11.2059 13.125L10.0898 8.34071L13.8057 5.12168L8.91246 4.69974L7.0001 0.194458L5.08774 4.69974L0.194542 5.12168L3.90357 8.34071L2.79426 13.125L7.0001 10.5865Z"/>
		</svg>

	{% when 'five-stars' %}
		<svg class="icon" width="14" height="14" viewBox="0 0 14 14" fill="none" aria-hidden="true">
			<path d="M7.0001 10.5865L11.2059 13.125L10.0898 8.34071L13.8057 5.12168L8.91246 4.69974L7.0001 0.194458L5.08774 4.69974L0.194542 5.12168L3.90357 8.34071L2.79426 13.125L7.0001 10.5865Z"/>
		</svg>

		<svg class="icon" width="14" height="14" viewBox="0 0 14 14" fill="none" aria-hidden="true">
			<path d="M7.0001 10.5865L11.2059 13.125L10.0898 8.34071L13.8057 5.12168L8.91246 4.69974L7.0001 0.194458L5.08774 4.69974L0.194542 5.12168L3.90357 8.34071L2.79426 13.125L7.0001 10.5865Z"/>
		</svg>

		<svg class="icon" width="14" height="14" viewBox="0 0 14 14" fill="none" aria-hidden="true">
			<path d="M7.0001 10.5865L11.2059 13.125L10.0898 8.34071L13.8057 5.12168L8.91246 4.69974L7.0001 0.194458L5.08774 4.69974L0.194542 5.12168L3.90357 8.34071L2.79426 13.125L7.0001 10.5865Z"/>
		</svg>

		<svg class="icon" width="14" height="14" viewBox="0 0 14 14" fill="none" aria-hidden="true">
			<path d="M7.0001 10.5865L11.2059 13.125L10.0898 8.34071L13.8057 5.12168L8.91246 4.69974L7.0001 0.194458L5.08774 4.69974L0.194542 5.12168L3.90357 8.34071L2.79426 13.125L7.0001 10.5865Z"/>
		</svg>

		<svg class="icon" width="14" height="14" viewBox="0 0 14 14" fill="none" aria-hidden="true">
			<path d="M7.0001 10.5865L11.2059 13.125L10.0898 8.34071L13.8057 5.12168L8.91246 4.69974L7.0001 0.194458L5.08774 4.69974L0.194542 5.12168L3.90357 8.34071L2.79426 13.125L7.0001 10.5865Z"/>
		</svg>

	{% when 'plus' %}
		<svg class="icon" width="14" height="14" viewBox="0 0 14 14" fill="none" aria-hidden="true">
			<path d="M6.08197 14V7.80328H0V6.02459H6.08197V0H7.91803V6.02459H14V7.80328H7.91803V14H6.08197Z"/>
		</svg>

	{% when 'minus' %}
		<svg class="icon" width="14" height="2" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M6.082 1.803H0V.025h14v1.778H6.082Z"/>
		</svg>

	{% when 'check' %}
		<svg class="icon" width="14" height="14" viewBox="0 0 14 14" fill="none" aria-hidden="true">
			<path d="M5.25 9.4325L2.8175 7L1.98917 7.8225L5.25 11.0833L12.25 4.08333L11.4275 3.26083L5.25 9.4325Z"/>
		</svg>
	{% when 'conversation' %}
		<svg width="20" height="20" viewBox="0 0 20 20" fill="none" >
			<g>
				<path d="M17.1925 5.80951H15.836V3.843C15.836 2.82676 14.9657 2 13.8961 2H2.93986C1.87022 2 1 2.82676 1 3.843V10.7875C1 11.8038 1.87022 12.6305 2.93986 12.6305H4.01583V14.7045C4.01583 14.8752 4.12787 15.0277 4.29648 15.0866C4.3448 15.1035 4.3948 15.1117 4.4443 15.1117C4.56762 15.1117 4.68784 15.061 4.77087 14.9682L6.83434 12.6629V13.8636C6.83434 14.8106 7.64524 15.581 8.64196 15.581H12.6718L14.7645 17.8604C14.8476 17.9509 14.9661 18 15.0876 18C15.138 18 15.1889 17.9915 15.2379 17.974C15.4052 17.9145 15.5161 17.7625 15.5161 17.5928V15.581H17.1924C18.1891 15.581 19 14.8106 19 13.8636V7.52687C19.0001 6.57992 18.1892 5.80951 17.1925 5.80951ZM6.33877 11.9596L4.87298 13.5972V12.2234C4.87298 11.9985 4.68109 11.8162 4.44441 11.8162H2.93986C2.34286 11.8162 1.85715 11.3548 1.85715 10.7875V3.843C1.85715 3.27577 2.34286 2.81435 2.93986 2.81435H13.8961C14.4931 2.81435 14.9788 3.27581 14.9788 3.843V10.7875C14.9788 11.3548 14.4931 11.8162 13.8961 11.8162H6.66527C6.53956 11.8162 6.42024 11.8686 6.33877 11.9596ZM18.1429 13.8637C18.1429 14.3616 17.7165 14.7667 17.1925 14.7667H15.0876C14.8509 14.7667 14.659 14.949 14.659 15.1738V16.5066L13.1897 14.9062C13.1083 14.8175 12.9905 14.7667 12.8667 14.7667H8.64203C8.11796 14.7667 7.69156 14.3616 7.69156 13.8637V12.6305H13.8961C14.9657 12.6305 15.836 11.8038 15.836 10.7875V6.62386H17.1925C17.7165 6.62386 18.1429 7.02893 18.1429 7.52687V13.8637ZM9.09846 7.31527C9.09846 7.67233 8.79378 7.96179 8.41799 7.96179C8.04217 7.96179 7.73753 7.67233 7.73753 7.31527C7.73753 6.95825 8.04217 6.66878 8.41799 6.66878C8.79378 6.66878 9.09846 6.95821 9.09846 7.31527ZM5.4417 7.31527C5.4417 7.67233 5.13702 7.96179 4.76123 7.96179C4.38541 7.96179 4.08076 7.67233 4.08076 7.31527C4.08076 6.95825 4.38541 6.66878 4.76123 6.66878C5.13702 6.66878 5.4417 6.95821 5.4417 7.31527ZM12.7552 7.31527C12.7552 7.67233 12.4505 7.96179 12.0747 7.96179C11.6989 7.96179 11.3942 7.67233 11.3942 7.31527C11.3942 6.95825 11.6989 6.66878 12.0747 6.66878C12.4505 6.66878 12.7552 6.95821 12.7552 7.31527Z" fill="black"/>
			</g>
		</svg>
	{% when 'success' %}
		<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-success" viewBox="0 0 13 13">
			<path
				d="M6.5 12.35C9.73087 12.35 12.35 9.73086 12.35 6.5C12.35 3.26913 9.73087 0.65 6.5 0.65C3.26913 0.65 0.65 3.26913 0.65 6.5C0.65 9.73086 3.26913 12.35 6.5 12.35Z"
				fill="#428445" stroke="white" stroke-width="0.7"></path>
			<path d="M5.53271 8.66357L9.25213 4.68197" stroke="white"></path>
			<path d="M4.10645 6.7688L6.13766 8.62553" stroke="white">
			</path>
		</svg>
	{% when 'error' %}
		<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
			<circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"></circle>
			<circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"></circle>
			<path
				d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z"
				fill="white"></path>
			<path
				d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z"
				fill="white" stroke="#EB001B" stroke-width="0.7">
			</path>
		</svg>
	{% when 'discount' %}
		<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-discount" viewBox="0 0 12 12">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M7 0h3a2 2 0 012 2v3a1 1 0 01-.3.7l-6 6a1 1 0 01-1.4 0l-4-4a1 1 0 010-1.4l6-6A1 1 0 017 0zm2 2a1 1 0 102 0 1 1 0 00-2 0z" fill="currentColor" />
		</svg>
	{% when 'model' %}
		<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-model" fill="none" viewBox="0 0 18 21">
			<path d="M7.67998 20.629L1.28002 16.723C0.886205 16.4784 0.561675 16.1368 0.337572 15.731C0.113468 15.3251 -0.00274623 14.8686 -1.39464e-05 14.405V6.59497C-0.00238367 6.13167 0.113819 5.6755 0.33751 5.26978C0.561202 4.86405 0.884959 4.52227 1.278 4.27698L7.67796 0.377014C8.07524 0.131403 8.53292 0.000877102 8.99999 9.73346e-08C9.46678 -0.000129605 9.92446 0.129369 10.322 0.374024V0.374024L16.722 4.27399C17.1163 4.51985 17.4409 4.86287 17.6647 5.27014C17.8885 5.67742 18.0039 6.13529 18 6.59998V14.409C18.0026 14.8725 17.8864 15.3289 17.6625 15.7347C17.4386 16.1405 17.1145 16.4821 16.721 16.727L10.321 20.633C9.92264 20.8742 9.46565 21.0012 8.99999 21C8.53428 20.9998 8.07761 20.8714 7.67998 20.629V20.629ZM8.72398 2.078L2.32396 5.97803C2.22303 6.04453 2.14066 6.13551 2.08452 6.24255C2.02838 6.34959 2.00031 6.46919 2.00298 6.59003V14.4C2.00026 14.5205 2.02818 14.6396 2.08415 14.7463C2.14013 14.853 2.22233 14.9438 2.32298 15.01L7.99999 18.48V10.919C8.00113 10.5997 8.08851 10.2867 8.25292 10.0129C8.41732 9.73922 8.65267 9.51501 8.93401 9.36401L15.446 5.841L9.28001 2.08002C9.19614 2.02738 9.09901 1.99962 8.99999 2C8.90251 1.99972 8.8069 2.02674 8.72398 2.078V2.078Z" fill="currentColor"/>
		</svg>
	{% when 'product-play' %}
		<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-product-play" fill="none" viewBox="0 0 10 14">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M1.48177 0.814643C0.81532 0.448245 0 0.930414 0 1.69094V12.2081C0 12.991 0.858787 13.4702 1.52503 13.0592L10.5398 7.49813C11.1918 7.09588 11.1679 6.13985 10.4965 5.77075L1.48177 0.814643Z" fill="currentColor"></path>
		</svg>
	{% else %}
		<span>No icon found!</span>
{% endcase %}
