{% comment %}
  ------------------------------------------------------------------------------
  Snippet: Icons - misc
  - Medium general purpose icons 24x24
  ------------------------------------------------------------------------------
{% endcomment %}
{% case icon %}
	{% when 'cart' %}
		<svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M3.019 16.6553C2.92384 17.4971 3.18909 18.3577 3.74671 18.9899C4.30421 19.6222 5.10439 20 5.94186 20H18.0582C18.8956 20 19.6957 19.6207 20.2532 18.9884C20.8109 18.3561 21.0761 17.4939 20.981 16.652L20.0733 8.62321C20.0446 8.36889 19.8319 8.18331 19.5789 8.18331H17.2853C17.2625 8.08843 17.2373 7.99455 17.2097 7.90174C16.7502 6.35265 15.6401 5.10174 14.2044 4.4628C13.5349 4.16487 12.7947 4 12.0166 4C11.2385 4 10.4982 4.16488 9.82873 4.46282C8.39304 5.10176 7.28296 6.35265 6.8234 7.90174C6.79586 7.99455 6.77066 8.08843 6.74787 8.18331H4.42114C4.1681 8.18331 3.95535 8.36889 3.92668 8.62321L3.019 16.6553ZM4.86975 9.18331L4.01268 16.7676C3.94863 17.3341 4.12962 17.9123 4.4967 18.3285C4.87396 18.7563 5.40562 19 5.94186 19H18.0582C18.5932 19 19.1251 18.7559 19.5032 18.327C19.87 17.9111 20.0514 17.3314 19.9873 16.7644C19.9873 16.7644 19.9874 16.7644 19.9873 16.7644L19.1303 9.18331H4.86975ZM16.2539 8.18331C16.1491 7.82745 16.0035 7.49251 15.8229 7.18331C15.3466 6.36769 14.6262 5.73123 13.7655 5.36264C13.2287 5.13278 12.6374 5.0071 12.0166 5.0071C11.3958 5.0071 10.8044 5.13279 10.2677 5.36264C9.40693 5.73123 8.68658 6.3677 8.2102 7.18331C8.02961 7.49251 7.88407 7.82745 7.77925 8.18331H16.2539Z"/>
		</svg>

	{% when 'search' %}
		<svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true">
			<path d="M20.8292 20.0207L16.1819 15.4477C17.3989 14.1255 18.1466 12.3768 18.1466 10.4526C18.146 6.33639 14.7556 3 10.573 3C6.39042 3 3 6.33639 3 10.4526C3 14.5688 6.39042 17.9052 10.573 17.9052C12.3802 17.9052 14.0377 17.2802 15.3397 16.241L20.005 20.832C20.2323 21.056 20.6014 21.056 20.8287 20.832C21.0565 20.6081 21.0565 20.2447 20.8292 20.0207ZM10.573 16.7586C7.03408 16.7586 4.16522 13.9353 4.16522 10.4526C4.16522 6.96991 7.03408 4.14663 10.573 4.14663C14.112 4.14663 16.9808 6.96991 16.9808 10.4526C16.9808 13.9353 14.112 16.7586 10.573 16.7586Z"/>
		</svg>

	{% when 'size' %}
		<svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M14.3525 9.30223H19.6263C20.7622 9.30223 21.6547 10.1947 21.6547 11.3306V19.9716C21.6547 21.1075 20.7622 22 19.6263 22H7.17195C6.92854 22 6.76627 21.8377 6.76627 21.5943V18.2677C4.16992 17.7809 2.34436 16.1582 2.34436 14.3327V6.0568C2.34436 3.82556 5.02184 2 8.34842 2C11.675 2 14.3525 3.82556 14.3525 6.0568V9.30223ZM13.5411 6.0568C13.5411 4.27181 11.2287 2.81136 8.34842 2.81136C5.46809 2.81136 3.15572 4.27181 3.15572 6.0568C3.15572 7.84178 5.46809 9.30223 8.34842 9.30223C11.2287 9.30223 13.5411 7.84178 13.5411 6.0568ZM13.5411 9.30223V8.08519C13.1354 8.57201 12.5675 8.97769 11.9184 9.30223H13.5411ZM6.76627 17.4158V12.9533C6.76627 12.7099 6.92854 12.5477 7.17195 12.5477H19.6263C20.316 12.5477 20.8433 12.0203 20.8433 11.3306C20.8433 10.641 20.316 10.1136 19.6263 10.1136H8.34842C6.11718 10.1136 4.21049 9.30223 3.15572 8.08519V14.3327C3.15572 15.7525 4.65673 16.9696 6.76627 17.4158ZM20.8433 19.931H20.9245V12.9533C20.5999 13.1968 20.1537 13.359 19.7074 13.359H7.65876V17.7404C7.69933 17.8215 7.69933 17.8621 7.69933 17.9432C7.69933 17.9432 7.65876 17.9838 7.65876 18.0243V21.1481H9.07864V19.2819C9.07864 19.0385 9.24091 18.8763 9.48432 18.8763C9.72773 18.8763 9.89 19.0385 9.89 19.2819V21.1481H11.391V19.2819C11.391 19.0385 11.5533 18.8763 11.7967 18.8763C12.0401 18.8763 12.2024 19.0385 12.2024 19.2819V21.1481H13.7034V19.2819C13.7034 19.0385 13.8657 18.8763 14.1091 18.8763C14.3525 18.8763 14.5147 19.0385 14.5147 19.2819V21.1481H16.0158V19.2819C16.0158 19.0385 16.178 18.8763 16.4214 18.8763C16.6648 18.8763 16.8271 19.0385 16.8271 19.2819V21.1481H18.3281V19.2819C18.3281 19.0385 18.4904 18.8763 18.7338 18.8763C18.9772 18.8763 19.1395 19.0385 19.1395 19.2819V21.1481H19.6263C20.316 21.1481 20.8433 20.6207 20.8433 19.931ZM6.32111 6.05688C6.32111 5.24552 7.2136 4.59644 8.34951 4.59644C9.48541 4.59644 10.3779 5.24552 10.3779 6.05688C10.3779 6.86824 9.48541 7.51733 8.34951 7.51733C7.2136 7.51733 6.32111 6.86824 6.32111 6.05688ZM7.13247 6.05688C7.13247 6.34086 7.65985 6.70597 8.34951 6.70597C9.03916 6.70597 9.56654 6.38143 9.56654 6.05688C9.56654 5.77291 9.03916 5.40779 8.34951 5.40779C7.65985 5.40779 7.13247 5.73234 7.13247 6.05688Z"/>
		</svg>

	{% when 'pin' %}
		<svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true">
			<path d="M19 6H17C17 4.67392 16.4732 3.40215 15.5355 2.46447C14.5979 1.52678 13.3261 1 12 1C10.6739 1 9.40215 1.52678 8.46447 2.46447C7.52678 3.40215 7 4.67392 7 6H5C4.46957 6 3.96086 6.21071 3.58579 6.58579C3.21071 6.96086 3 7.46957 3 8V20C3 20.5304 3.21071 21.0391 3.58579 21.4142C3.96086 21.7893 4.46957 22 5 22H12.05C11.1178 21.4162 10.349 20.6054 9.81554 19.6434C9.2821 18.6815 9.0015 17.5999 9 16.5C8.99564 15.1255 9.43393 13.7861 10.25 12.68C9.2962 12.3236 8.47393 11.6846 7.89315 10.8482C7.31237 10.0119 7.00076 9.0182 7 8H9C9 8.79565 9.31607 9.55871 9.87868 10.1213C10.4413 10.6839 11.2044 11 12 11H12.06C12.6723 10.605 13.3493 10.3207 14.06 10.16C14.3543 9.88202 14.5893 9.54734 14.7509 9.17612C14.9124 8.80491 14.9972 8.40483 15 8H17C17.0032 8.72212 16.8461 9.43595 16.54 10.09C17.4544 10.2431 18.3254 10.59 19.0946 11.1074C19.8639 11.6248 20.5135 12.3008 21 13.09V8C21 7.46957 20.7893 6.96086 20.4142 6.58579C20.0391 6.21071 19.5304 6 19 6ZM9 6C9 5.20435 9.31607 4.44129 9.87868 3.87868C10.4413 3.31607 11.2044 3 12 3C12.7956 3 13.5587 3.31607 14.1213 3.87868C14.6839 4.44129 15 5.20435 15 6H9ZM19.31 18.9C19.9002 17.965 20.1255 16.8455 19.943 15.755C19.7604 14.6645 19.1828 13.6793 18.3202 12.9876C17.4577 12.2958 16.3707 11.9457 15.2666 12.0043C14.1624 12.0628 13.1185 12.5257 12.3339 13.3048C11.5494 14.0839 11.0791 15.1246 11.0128 16.2283C10.9465 17.332 11.2889 18.4214 11.9747 19.2888C12.6604 20.1561 13.6414 20.7407 14.7306 20.9309C15.8198 21.1211 16.9409 20.9036 17.88 20.32L21 23.39L22.39 22L19.31 18.9ZM15.5 19C15.0055 19 14.5222 18.8534 14.1111 18.5787C13.7 18.304 13.3795 17.9135 13.1903 17.4567C13.0011 16.9999 12.9516 16.4972 13.048 16.0123C13.1445 15.5273 13.3826 15.0819 13.7322 14.7322C14.0819 14.3826 14.5273 14.1445 15.0123 14.048C15.4972 13.9516 15.9999 14.0011 16.4567 14.1903C16.9135 14.3795 17.304 14.7 17.5787 15.1111C17.8534 15.5222 18 16.0055 18 16.5C18 17.163 17.7366 17.7989 17.2678 18.2678C16.7989 18.7366 16.163 19 15.5 19Z"/>
		</svg>

	{% when 'arrow' %}
		<svg class="icon icon--rtl" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M19.7455 8.15909L22.8568 11.6159C23.0477 11.828 23.0477 12.172 22.8568 12.3841L19.7455 15.8409C19.5546 16.053 19.2451 16.053 19.0541 15.8409C18.8632 15.6288 18.8632 15.2848 19.0541 15.0727L21.3308 12.5432L1.54319 12.5432C1.24319 12.5432 1 12.3 1 12C1 11.7 1.24319 11.4568 1.54319 11.4568L21.3308 11.4568L19.0541 8.92727C18.8632 8.71515 18.8632 8.37122 19.0541 8.15909C19.2451 7.94697 19.5546 7.94697 19.7455 8.15909Z"/>
		</svg>

	{% when 'star' %}
		<svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true">
			<path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.62L12 2L9.19 8.62L2 9.24L7.45 13.97L5.82 21L12 17.27Z"/>
		</svg>

	{% when 'delete' %}
		<svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true">
			<path d="M17.8386 8.07673H6.16198C6.03566 8.066 5.91048 8.10774 5.81582 8.1921C5.72276 8.2815 5.67965 8.41092 5.70045 8.53826L6.90041 18.9918C7.04113 20.1443 8.0239 21.008 9.18494 20.9994H15.0002C16.1939 21.0165 17.1994 20.1115 17.3078 18.9226L18.3001 8.4921C18.3062 8.38022 18.2643 8.27103 18.1847 8.1921C18.0901 8.10774 17.9649 8.066 17.8386 8.07673ZM16.3848 18.8764C16.3123 19.5791 15.7061 20.1045 15.0002 20.0764H9.18499C8.49179 20.1045 7.89594 19.5895 7.82346 18.8995L6.66966 8.99978H17.3309L16.3848 18.8764Z"/>
			<path d="M19.5249 5.077H14.7711V4.33853C14.7968 3.62528 14.2393 3.02634 13.5261 3.00072C13.5027 2.99988 13.4792 2.99966 13.4558 3.0001H10.5482C9.83457 2.9869 9.24544 3.55465 9.23223 4.26825C9.23179 4.29166 9.23201 4.31512 9.23285 4.33853V5.07695H4.47911C4.2242 5.07695 4.01758 5.28358 4.01758 5.53848C4.01758 5.79338 4.2242 6.00001 4.47911 6.00001H19.5249C19.7798 6.00001 19.9864 5.79338 19.9864 5.53848C19.9864 5.28358 19.7797 5.077 19.5249 5.077ZM13.8481 4.33853V5.07695H10.1559V4.33853C10.1298 4.13628 10.2727 3.95125 10.475 3.92523C10.4992 3.9221 10.5237 3.92144 10.5481 3.92316H13.4558C13.6592 3.90876 13.8358 4.06194 13.8502 4.26538C13.8519 4.28976 13.8512 4.31428 13.8481 4.33853Z"/>
		</svg>

	{% when 'delivery' %}
		<svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true">
			<path d="M15.36 10.56H21.12V10.3256L18.3988 7.68H15.36V10.56ZM15.36 11.52V14.8798C15.7979 14.297 16.4949 13.92 17.28 13.92C18.2642 13.92 19.11 14.5124 19.4803 15.36H21.12V11.52H15.36ZM14.4 15.36V6.72V5.76H2.88001V15.36H3.55971C3.93006 14.5124 4.77586 13.92 5.76001 13.92C6.74417 13.92 7.58996 14.5124 7.96031 15.36H14.4ZM15.36 6.72H18.7886L22.08 9.92V15.36C22.08 15.8902 21.6502 16.32 21.12 16.32H19.68C19.68 17.6455 18.6055 18.72 17.28 18.72C15.9545 18.72 14.88 17.6455 14.88 16.32H8.16001C8.16001 17.6455 7.0855 18.72 5.76001 18.72C4.43453 18.72 3.36001 17.6455 3.36001 16.32H2.88001C2.34982 16.32 1.92001 15.8902 1.92001 15.36V5.76C1.92001 5.22981 2.34982 4.8 2.88001 4.8H14.4C14.9302 4.8 15.36 5.22981 15.36 5.76V6.72ZM5.76001 17.76C6.5553 17.76 7.20001 17.1153 7.20001 16.32C7.20001 15.5247 6.5553 14.88 5.76001 14.88C4.96472 14.88 4.32001 15.5247 4.32001 16.32C4.32001 17.1153 4.96472 17.76 5.76001 17.76ZM17.28 17.76C18.0753 17.76 18.72 17.1153 18.72 16.32C18.72 15.5247 18.0753 14.88 17.28 14.88C16.4847 14.88 15.84 15.5247 15.84 16.32C15.84 17.1153 16.4847 17.76 17.28 17.76Z"/>
		</svg>

	{% when 'play' %}
		<svg class="icon" width="14" height="17" viewBox="0 0 14 17" fill="none" aria-hidden="true">
			<path d="M14 8.5L2.10581e-07 17L9.53674e-07 -6.11959e-07L14 8.5Z"/>
		</svg>

	{% when 'burger-menu' %}
		<svg class="icon" width="22" height="22" viewBox="0 0 24 13" fill="none" aria-hidden="true">
			<line y1="0.5" x2="24" y2="0.5" stroke="currentColor"/>
			<line y1="6.5" x2="24" y2="6.5" stroke="currentColor"/>
			<line y1="12.5" x2="24" y2="12.5" stroke="currentColor"/>
		</svg>

	{% when 'pick-up--available' %}
		<svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true">
			<path d="M19 6H17C17 4.67392 16.4732 3.40215 15.5355 2.46447C14.5979 1.52678 13.3261 1 12 1C10.6739 1 9.40215 1.52678 8.46447 2.46447C7.52678 3.40215 7 4.67392 7 6H5C4.46957 6 3.96086 6.21071 3.58579 6.58579C3.21071 6.96086 3 7.46957 3 8V20C3 20.5304 3.21071 21.0391 3.58579 21.4142C3.96086 21.7893 4.46957 22 5 22H12.05C11.1178 21.4162 10.349 20.6054 9.81554 19.6434C9.2821 18.6815 9.0015 17.5999 9 16.5C8.99564 15.1255 9.43393 13.7861 10.25 12.68C9.2962 12.3236 8.47393 11.6846 7.89315 10.8482C7.31237 10.0119 7.00076 9.0182 7 8H9C9 8.79565 9.31607 9.55871 9.87868 10.1213C10.4413 10.6839 11.2044 11 12 11H12.06C12.6723 10.605 13.3493 10.3207 14.06 10.16C14.3543 9.88202 14.5893 9.54734 14.7509 9.17612C14.9124 8.80491 14.9972 8.40483 15 8H17C17.0032 8.72212 16.8461 9.43595 16.54 10.09C17.4544 10.2431 18.3254 10.59 19.0946 11.1074C19.8639 11.6248 20.5135 12.3008 21 13.09V8C21 7.46957 20.7893 6.96086 20.4142 6.58579C20.0391 6.21071 19.5304 6 19 6ZM9 6C9 5.20435 9.31607 4.44129 9.87868 3.87868C10.4413 3.31607 11.2044 3 12 3C12.7956 3 13.5587 3.31607 14.1213 3.87868C14.6839 4.44129 15 5.20435 15 6H9ZM19.31 18.9C19.9002 17.965 20.1255 16.8455 19.943 15.755C19.7604 14.6645 19.1828 13.6793 18.3202 12.9876C17.4577 12.2958 16.3707 11.9457 15.2666 12.0043C14.1624 12.0628 13.1185 12.5257 12.3339 13.3048C11.5494 14.0839 11.0791 15.1246 11.0128 16.2283C10.9465 17.332 11.2889 18.4214 11.9747 19.2888C12.6604 20.1561 13.6414 20.7407 14.7306 20.9309C15.8198 21.1211 16.9409 20.9036 17.88 20.32L21 23.39L22.39 22L19.31 18.9ZM15.5 19C15.0055 19 14.5222 18.8534 14.1111 18.5787C13.7 18.304 13.3795 17.9135 13.1903 17.4567C13.0011 16.9999 12.9516 16.4972 13.048 16.0123C13.1445 15.5273 13.3826 15.0819 13.7322 14.7322C14.0819 14.3826 14.5273 14.1445 15.0123 14.048C15.4972 13.9516 15.9999 14.0011 16.4567 14.1903C16.9135 14.3795 17.304 14.7 17.5787 15.1111C17.8534 15.5222 18 16.0055 18 16.5C18 17.163 17.7366 17.7989 17.2678 18.2678C16.7989 18.7366 16.163 19 15.5 19Z" fill="black"/>
		</svg>

	{% when 'pause-round' %}
		<svg width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon">
			<circle cx="15" cy="15" r="14.5" stroke="currentColor" fill="none"></circle>
			<path fill="currentColor" d="M9 9h4v12H9zm8 0h4v12h-4z"></path>
		</svg>

	{% when 'play-round' %}
		<svg class="icon" width="24" height="24" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg" fill="none">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M30 0C13.44 0 0 13.44 0 30c0 16.56 13.44 30 30 30 16.56 0 30-13.44 30-30C60 13.44 46.56 0 30 0zm0 1.538c15.728 0 28.462 12.734 28.462 28.462S45.727 58.462 30 58.462 1.538 45.728 1.538 30 14.272 1.538 30 1.538zM23 42V18l20 12-20 12z" fill="currentColor">
			</path>
		</svg>

	{% when 'account' %}
		<svg class="icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none">
			<path
				d="M22 12.003C22.0011 10.3388 21.5865 8.70072 20.794 7.23728C20.0014 5.77383 18.8559 4.53133 17.4614 3.62248C16.0668 2.71363 14.4674 2.16718 12.8081 2.0327C11.1488 1.89822 9.48221 2.17996 7.95943 2.85237C6.43665 3.52478 5.10588 4.56659 4.08784 5.88329C3.0698 7.19999 2.39669 8.74993 2.12958 10.3925C1.86246 12.0351 2.00978 13.7184 2.55818 15.2896C3.10657 16.8609 4.0387 18.2704 5.27 19.3904C5.29529 19.4219 5.32572 19.449 5.36 19.4704C7.18969 21.0997 9.55461 22 12.005 22C14.4554 22 16.8203 21.0997 18.65 19.4704L18.73 19.3904C19.7612 18.4558 20.5849 17.3155 21.1482 16.0431C21.7114 14.7707 22.0016 13.3944 22 12.003V12.003ZM2.8 12.003C2.79988 10.4914 3.17247 9.00307 3.8848 7.66973C4.59714 6.33638 5.62725 5.19911 6.88399 4.35854C8.14074 3.51797 9.58537 3.00001 11.0901 2.85051C12.5948 2.701 14.1131 2.92456 15.5108 3.50139C16.9085 4.07822 18.1424 4.99054 19.1033 6.15763C20.0643 7.32472 20.7226 8.71059 21.0201 10.1926C21.3177 11.6747 21.2452 13.2071 20.8091 14.6545C20.373 16.1019 19.5868 17.4195 18.52 18.4907C17.527 16.8277 15.9346 15.6079 14.07 15.0819C14.9359 14.6204 15.6227 13.8827 16.0211 12.9862C16.4195 12.0897 16.5066 11.0858 16.2687 10.1341C16.0308 9.18239 15.4814 8.33751 14.7079 7.73377C13.9345 7.13003 12.9813 6.80209 12 6.80209C11.0187 6.80209 10.0655 7.13003 9.29205 7.73377C8.51859 8.33751 7.96922 9.18239 7.73129 10.1341C7.49336 11.0858 7.58051 12.0897 7.9789 12.9862C8.3773 13.8827 9.06405 14.6204 9.93 15.0819C8.06538 15.6079 6.47302 16.8277 5.48 18.4907C3.76471 16.7667 2.80128 14.4345 2.8 12.003V12.003ZM12 14.802C11.288 14.802 10.592 14.5909 9.99994 14.1955C9.40793 13.8001 8.94651 13.238 8.67403 12.5804C8.40156 11.9228 8.33026 11.1992 8.46917 10.5012C8.60808 9.80306 8.95094 9.16183 9.45441 8.65853C9.95788 8.15524 10.5993 7.81249 11.2977 7.67363C11.996 7.53477 12.7198 7.60604 13.3777 7.87842C14.0355 8.1508 14.5977 8.61206 14.9933 9.20388C15.3889 9.79569 15.6 10.4915 15.6 11.2032C15.6 12.1577 15.2207 13.073 14.5456 13.7479C13.8704 14.4228 12.9548 14.802 12 14.802V14.802ZM6.09 19.0405C6.68393 17.9972 7.54364 17.1298 8.58171 16.5263C9.61977 15.9229 10.7992 15.605 12 15.605C13.2008 15.605 14.3802 15.9229 15.4183 16.5263C16.4564 17.1298 17.3161 17.9972 17.91 19.0405C16.2562 20.434 14.1629 21.1983 12 21.1983C9.83708 21.1983 7.74378 20.434 6.09 19.0405V19.0405Z"/>
		</svg>
	{% when 'event-location' %}
		<svg class="icon" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 1c-3.148 0-6 2.553-6 5.702 0 3.148 2.602 6.907 6 12.298 3.398-5.391 6-9.15 6-12.298 0-3.149-2.851-5.702-6-5.702zm0 8c-1.105 0-2-.895-2-2s.895-2 2-2 2 .895 2 2-.895 2-2 2zm12 14h-24l4-8h3.135c.385.641.798 1.309 1.232 2h-3.131l-2 4h17.527l-2-4h-3.131c.435-.691.848-1.359 1.232-2h3.136l4 8z"/></svg>
	{% when 'gift' %}
		<svg class="icon" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256">
			<g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
			   transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
				<path
					d="M 87 38.332 H 3 c -1.657 0 -3 -1.343 -3 -3 V 19.808 c 0 -1.657 1.343 -3 3 -3 h 84 c 1.657 0 3 1.343 3 3 v 15.524 C 90 36.989 88.657 38.332 87 38.332 z M 6 32.332 h 78 v -9.524 H 6 V 32.332 z"
					style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: currentColor; fill-rule: nonzero; opacity: 1;"
					transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
				<path
					d="M 80.998 86.933 H 9.002 c -1.657 0 -3 -1.343 -3 -3 V 35.332 c 0 -1.657 1.343 -3 3 -3 h 71.996 c 1.657 0 3 1.343 3 3 v 48.601 C 83.998 85.59 82.655 86.933 80.998 86.933 z M 12.002 80.933 h 65.996 V 38.332 H 12.002 V 80.933 z"
					style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: currentColor; fill-rule: nonzero; opacity: 1;"
					transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
				<path
					d="M 63.61 22.808 H 45 c -1.256 0 -2.38 -0.783 -2.814 -1.962 c -0.435 -1.179 -0.089 -2.504 0.867 -3.32 L 57.206 5.442 c 2.963 -2.528 7 -3.084 10.534 -1.456 c 3.536 1.631 5.733 5.063 5.733 8.958 C 73.474 18.383 69.049 22.808 63.61 22.808 z M 53.135 16.808 H 63.61 c 2.13 0 3.863 -1.733 3.863 -3.864 c 0 -1.549 -0.84 -2.86 -2.246 -3.509 s -2.947 -0.434 -4.125 0.57 L 53.135 16.808 z"
					style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: currentColor; fill-rule: nonzero; opacity: 1;"
					transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
				<path
					d="M 45 22.808 H 26.39 c -5.439 0 -9.864 -4.425 -9.864 -9.864 c 0 -3.894 2.197 -7.326 5.733 -8.957 c 3.535 -1.631 7.573 -1.073 10.535 1.455 l 14.154 12.084 c 0.955 0.816 1.301 2.141 0.866 3.32 S 46.257 22.808 45 22.808 z M 26.416 9.066 c -0.549 0 -1.107 0.122 -1.645 0.37 c -1.406 0.649 -2.246 1.96 -2.246 3.509 c 0 2.13 1.733 3.864 3.864 3.864 h 10.476 l -7.967 -6.802 C 28.171 9.385 27.304 9.066 26.416 9.066 z"
					style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: currentColor; fill-rule: nonzero; opacity: 1;"
					transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
				<path
					d="M 45 86.933 c -1.657 0 -3 -1.343 -3 -3 v -64.68 c 0 -1.657 1.343 -3 3 -3 c 1.657 0 3 1.343 3 3 v 64.68 C 48 85.59 46.657 86.933 45 86.933 z"
					style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: currentColor; fill-rule: nonzero; opacity: 1;"
					transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
			</g>
	</svg>
	{% else %}
		<span>No icon found!</span>
{% endcase %}
