.age-check-popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	display: flex;
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	overflow-y: auto;
	transition-property: opacity, visibility;
	transition-duration: 0.4s;
	transition-timing-function: ease-out;
}
.age-check-popup.is-active {
	visibility: visible;
	opacity: 1;
}
.age-check-popup .age-check-popup__container {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 480px;
	width: 100%;
	margin: auto;
	background-color: var(--color-popup-background);
}
.age-check-popup .age-check-popup__col {
	flex-basis: 50%;
	flex-grow: 1;
}
.age-check-popup .age-check-popup__image-wrapper {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 47.92%;
}
.age-check-popup .age-check-popup__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: var(--img-mob-pos);
	   object-position: var(--img-mob-pos);
}
.age-check-popup .age-check-popup__content {
	width: 100%;
	padding: 30px 25px;
	background-color: var(--color-popup-background);
	text-align: center;
	word-break: break-word;
}
.age-check-popup .age-check-popup__title {
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 600;
	line-height: 1.375;
	text-align: center;
}
.age-check-popup .age-check-popup__text {
	margin-top: 15px;
	color: var(--color-text-secondary);
}
.age-check-popup .age-check-popup__buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}
.age-check-popup .age-check-popup__close-button {
	margin-top: 20px;
	padding: 0;
	border-bottom: 1px solid transparent;
	font-size: calc(var(--body-font-size) * 0.8125);
	font-weight: 600;
	line-height: 1.6;
	letter-spacing: 1px;
	color: var(--color-text-primary);
	transition: border var(--timing-short);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.age-check-popup .age-check-popup__close-button:hover {
		border-bottom: 1px solid currentColor;
	}
}
.age-check-popup .age-check-popup__close-icon-button {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	padding: 15px;
	transition-property: opacity;
	transition-duration: var(--timing-base);
	color: var(--color-text-primary);
}
.age-check-popup .age-check-popup__close-icon-button:focus-visible {
	outline: 1px solid var(--color-text-primary);
	outline-offset: -5px;
}
.age-check-popup .age-check-popup__close-icon-button svg {
	width: 14px;
	height: 14px;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.age-check-popup .age-check-popup__close-icon-button:hover {
		opacity: 0.7;
	}
}
@media (min-width: 768px) {
	.age-check-popup .age-check-popup__container {
		max-width: 960px;
		flex-direction: row;
		align-items: center;
	}
	.age-check-popup .age-check-popup__container.age-check-popup__container--no-image {
		max-width: 480px;
	}
	.age-check-popup .age-check-popup__image-wrapper {
		padding-top: 95.83%;
	}
	.age-check-popup .age-check-popup__image {
		-o-object-position: var(--img-desktop-pos);
		   object-position: var(--img-desktop-pos);
	}
	.age-check-popup .age-check-popup__content {
		padding: 40px 30px;
	}
	.age-check-popup .age-check-popup__close-icon-button {
		top: 10px;
		right: 15px;
	}
}
@media (max-width: 767.98px) {
	.age-check-popup .age-check-popup__col.age-check-popup__col--hide-img-mob {
		display: none;
	}
}
@media (min-width: 1200px) {
	.age-check-popup .age-check-popup__content {
		padding: 68px 40px;
	}
	.age-check-popup .age-check-popup__buttons {
		margin-top: 30px;
	}
	.age-check-popup .age-check-popup__close-button {
		margin-top: 24px;
	}
	.age-check-popup .age-check-popup__close-icon-button {
		top: 10px;
		right: 25px;
	}
}