.announcement-bar {
	position: relative;
	padding: 14px 0;
	background-color: var(--background-color, #ffffff);
}
.announcement-bar.announcement-bar--with-image {
	background-image: var(--bg-image);
	background-position: var(--bg-image-pos);
}
.announcement-bar.announcement-bar--bg-repeat {
	background-repeat: repeat;
}
.announcement-bar.announcement-bar--bg-cover {
	background-repeat: no-repeat;
	background-size: cover;
}
.announcement-bar.announcement-bar--border-bottom {
	border-bottom: 1px solid var(--border-bottom-color, #e6e6e6);
}
.announcement-bar.is-hidden {
	display: none;
}
.announcement-bar::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--background-overlay);
}
.announcement-bar .announcement-bar__content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 40px;
	padding-right: 40px;
}
.announcement-bar .announcement-bar__text-content-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 5px;
}
.announcement-bar .announcement-bar__slider {
	text-align: center;
}
.announcement-bar .announcement-bar__text {
	font-size: calc(var(--body-font-size) * 0.875);
	line-height: 1.6;
	color: var(--text-color, #000000);
}
.announcement-bar .announcement-bar__text p {
	word-break: break-word;
}
.announcement-bar .announcement-bar__text p + * {
	margin-top: 5px;
}
.announcement-bar .announcement-bar__text a {
	color: var(--bar-link-color, #000000);
}
.announcement-bar .announcement-bar__text a:focus-visible {
	outline: 2px solid var(--bar-link-color, #000000);
}
.announcement-bar .announcement-bar__text.announcement-bar__text--desktop {
	display: none;
}
.announcement-bar .announcement-bar__timer {
	flex-shrink: 0;
	min-width: 121px;
	font-size: calc(var(--body-font-size) * 0.875);
	font-weight: 600;
	line-height: 1.6;
	color: var(--text-color, #000000);
}
.announcement-bar .announcement-bar__timer-value.is-hidden {
	display: none;
}
.announcement-bar .announcement-bar__link {
	display: inline-block;
	flex-shrink: 0;
	-webkit-margin-start: 15px;
	        margin-inline-start: 15px;
	padding: 6px 16px;
	border: 1px solid var(--button-border, #000000);
	background-color: var(--button-background, #000000);
	font-size: calc(var(--body-font-size) * 0.875);
	line-height: 1.6;
	text-decoration: none;
	color: var(--button-color, #ffffff);
	min-width: 94px;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.announcement-bar .announcement-bar__link:hover {
		border-color: var(--button-border-hover, #757575);
		background-color: var(--button-background-hover, #757575);
		color: var(--button-color-hover, #000000);
	}
}
.announcement-bar .announcement-bar__extra-col {
	display: none;
	align-items: center;
	flex-shrink: 0;
	-webkit-padding-start: 15px;
	        padding-inline-start: 15px;
}
.announcement-bar .announcement-bar__menu {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}
.announcement-bar .announcement-bar__menu-link {
	font-size: calc(var(--body-font-size) * 0.8);
	-webkit-text-decoration-color: transparent;
	        text-decoration-color: transparent;
	color: var(--bar-link-color, #000000);
	transition-property: -webkit-text-decoration-color;
	transition-property: text-decoration-color;
	transition-property: text-decoration-color, -webkit-text-decoration-color;
	transition-duration: var(--timing-base);
}
.announcement-bar .announcement-bar__menu-link:focus-visible {
	outline: 2px solid var(--bar-link-color, #000000);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.announcement-bar .announcement-bar__menu-link:hover {
		-webkit-text-decoration-color: var(--bar-link-color, #000000);
		        text-decoration-color: var(--bar-link-color, #000000);
	}
}
.announcement-bar .social-links {
	-webkit-padding-start: 20px;
	        padding-inline-start: 20px;
}
.announcement-bar .announcement-bar__social-icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 22px;
	height: 22px;
	text-decoration: none;
	color: var(--social-color);
	transition-property: color, fill;
	transition-duration: var(--timing-base);
}
.announcement-bar .announcement-bar__social-icon svg {
	width: 14px;
	height: 14px;
}
.announcement-bar .announcement-bar__social-icon:focus-visible {
	outline: 2px solid var(--social-color);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.announcement-bar .announcement-bar__social-icon:hover {
		color: var(--social-color-hover);
	}
}
.announcement-bar .announcement-bar__button-close {
	position: absolute;
	top: 50%;
	inset-inline-end: 18px;
	width: 25px;
	height: 25px;
	margin: 0;
	padding: 0;
	color: var(--button-cross-color, #000000);
	transform: translateY(-50%);
}
.announcement-bar .announcement-bar__button-close::before, .announcement-bar .announcement-bar__button-close::after {
	content: "";
	position: absolute;
	top: 50%;
	bottom: 0;
	width: 2px;
	height: 14px;
	background-color: var(--button-cross-color, #000000);
	transition-property: background-color;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}
.announcement-bar .announcement-bar__button-close::before {
	transform: translateY(-50%) rotate(45deg);
}
.announcement-bar .announcement-bar__button-close:focus-visible {
	outline: 2px solid var(--button-cross-color, #000000);
	outline-offset: 2px;
}
.announcement-bar .announcement-bar__button-close::after {
	transform: translateY(-50%) rotate(-45deg);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.announcement-bar .announcement-bar__button-close:hover::before, .announcement-bar .announcement-bar__button-close:hover::after {
		background-color: var(--button-cross-hover, #757575);
	}
}
@media (max-width: 767.98px) {
	.announcement-bar .announcement-bar__text-content-wrapper {
		text-align: center;
	}
}
@media (min-width: 768px) {
	.announcement-bar .announcement-bar__content {
		justify-content: center;
	}
	.announcement-bar .announcement-bar__text-content-wrapper {
		flex-direction: row;
		align-items: center;
	}
	.announcement-bar .announcement-bar__text {
		display: none;
	}
	.announcement-bar .announcement-bar__text.announcement-bar__text--desktop {
		display: block;
	}
	.announcement-bar .announcement-bar__timer {
		-webkit-margin-start: 15px;
		        margin-inline-start: 15px;
	}
	.announcement-bar .announcement-bar__link {
		-webkit-margin-start: 10px;
		        margin-inline-start: 10px;
	}
}
@media (min-width: 1200px) {
	.announcement-bar .announcement-bar__content {
		padding-left: 70px;
		padding-right: 70px;
	}
	.announcement-bar .announcement-bar__content.announcement-bar__content--two-cols {
		justify-content: space-between;
		-webkit-padding-start: 40px;
		        padding-inline-start: 40px;
	}
	.announcement-bar .announcement-bar__extra-col {
		display: flex;
	}
	.announcement-bar .announcement-bar__button-close {
		inset-inline-end: 35px;
		width: 30px;
	}
}