.article-related {
	margin-top: 20px;
}
@media (min-width: 768px) {
	.article-related {
		margin-top: 40px;
	}
}
.article-banner {
	position: relative;
	overflow: hidden;
	max-width: 1440px;
	margin: 0 auto;
}
.article-banner .article-banner__heading {
	line-height: 1.46;
}
.article-banner .article-banner__subheading {
	margin-top: 20px;
	font-size: calc(var(--body-font-size) * 0.875);
	font-weight: 400;
	line-height: 1.57;
	color: var(--color-text-primary);
}
.article-banner .article-banner__date {
	color: var(--color-secondary-text);
}
.article-banner .article-banner__separator {
	position: relative;
	margin: 0 3px;
	color: var(--color-secondary-text);
}
.article-banner .article-banner__heading-block {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 auto 30px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	flex-direction: column;
}
.article-banner .article-banner__heading-block.article-banner__heading-block--float {
	position: absolute;
	top: 0;
	left: 0;
	z-index: var(--layer-raised);
	opacity: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 40px 20px;
}
.article-banner .article-banner__heading-block.article-banner__heading-block--float .article-banner__heading,
.article-banner .article-banner__heading-block.article-banner__heading-block--float .article-banner__subheading,
.article-banner .article-banner__heading-block.article-banner__heading-block--float .article-banner__date,
.article-banner .article-banner__heading-block.article-banner__heading-block--float .article-banner__separator {
	color: var(--banner-text-color, var(--color-white));
}
.article-banner .article-banner__heading-block.article-banner__heading-block--float.animated {
	opacity: 1;
	transition-property: opacity;
	transition-duration: var(--animate-time);
	transition-delay: var(--animate-delay);
}
html.no-active .article-banner .article-banner__heading-block.article-banner__heading-block--float {
	opacity: 1;
}
.article-banner .article-banner__image-container {
	position: relative;
	margin: 0 auto;
	padding-top: 64%;
}
.article-banner .article-banner__image {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.article-banner .article-banner__image.animated {
	opacity: 1;
	transition-property: opacity;
	transition-duration: var(--animate-time);
}
html.no-active .article-banner .article-banner__image {
	opacity: 1;
}
.article-banner .article-banner__image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: var(--layer-flat);
	opacity: var(--overlay-opacity);
	width: 100%;
	height: 100%;
	background-color: var(--color-overlay);
}
.article-banner.article-banner--full {
	max-width: initial;
	margin: 0 auto;
	padding: 0;
}
.article-banner.article-banner--full .article-banner__image-container {
	padding-top: 93.3334%;
}
@media (min-width: 768px) {
	.article-banner .article-banner__image-container {
		padding-top: 54%;
	}
	.article-banner.article-banner--full .article-banner__image-container {
		padding-top: 60%;
	}
}
@media (min-width: 1200px) {
	.article-banner .article-banner__image-container {
		padding-top: 44.4446%;
	}
	.article-banner.article-banner--full .article-banner__image-container {
		padding-top: 35.715%;
	}
}
.article-main {
	max-width: 840px;
	margin: 0 auto;
	padding: 0 20px;
}
.article-main .article-main__header {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.article-main .article-main__blog-link {
	display: flex;
	align-items: baseline;
	-webkit-margin-end: 10px;
	        margin-inline-end: 10px;
	font-weight: 400;
	text-decoration: none;
}
.article-main .article-main__blog-link:focus-visible {
	outline: 2px solid var(--color-text-primary);
}
.article-main .article-main__blog-link svg {
	position: relative;
	top: 2px;
	-webkit-margin-end: 11px;
	        margin-inline-end: 11px;
}
.article-main .article-main__blog-link svg path {
	fill: currentColor;
}
.article-main .article-main__comments-info {
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	font-size: calc(var(--body-font-size) * 0.875);
	font-weight: 400;
	color: var(--color-secondary-text);
}
.article-main .article-main__comments-info svg {
	-webkit-margin-end: 9px;
	        margin-inline-end: 9px;
}
.article-main .article-main__comments-info svg path {
	fill: var(--color-secondary-text);
}
.article-main .article-main__rte {
	padding-top: 30px;
	padding-bottom: 40px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.article-main .article-main__socials {
	display: flex;
	align-items: center;
	padding: 20px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.article-main .article-main__socials-title {
	-webkit-margin-end: 30px;
	        margin-inline-end: 30px;
	font-weight: 400;
	text-transform: uppercase;
}
@media (min-width: 768px) {
	.article-main .article-main__rte {
		padding-top: 60px;
	}
	.article-main .article-main__header {
		padding-top: 27px;
		padding-bottom: 27px;
	}
}
.article-comments {
	margin-top: 40px;
	padding: 60px 20px;
	background-color: var(--color-comment-background);
}
.article-comments .article-comments__container {
	max-width: 800px;
	margin: 0 auto;
}
.article-comments .article-comments__heading {
	margin-bottom: 30px;
}
.article-comments .article-comments__comment {
	padding: 15px 20px;
	background-color: var(--color-background);
}
.article-comments .article-comments__comment + .article-comments__comment {
	margin-top: 20px;
}
.article-comments .article-comments__comment-text {
	margin-bottom: 30px;
	font-weight: 400;
}
.article-comments .article-comments__comment-footer {
	font-size: calc(var(--body-font-size) * 0.75);
	text-align: end;
	text-transform: uppercase;
	color: var(--color-secondary-text);
}
.article-comments .article-comments__comment-author {
	-webkit-margin-end: 5px;
	        margin-inline-end: 5px;
}
.article-comments .article-comments__comment-author::after {
	content: "/";
	position: relative;
	-webkit-margin-end: 5px;
	        margin-inline-end: 5px;
}
.article-comments .pagination {
	margin-top: 60px;
	margin-bottom: 60px;
}
.article-comments .pagination .pagination__list {
	justify-content: center;
}
.article-comments .article-comments__form .input {
	background-color: var(--color-background, #fff);
}
.article-comments .article-comments__form svg {
	flex-shrink: 0;
	width: 20px;
	height: 20px;
}
.article-comments .article-comments__wrapper {
	margin-bottom: 20px;
}
.article-comments .article-comments__form-heading {
	margin-bottom: 30px;
}
.article-comments .article-comments__comment-form-fields {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.article-comments .article-comments__comment-form-field {
	flex-basis: 100%;
	width: 100%;
}
.article-comments .article-comments__comment-form-field:first-of-type {
	-webkit-margin-end: 0;
	        margin-inline-end: 0;
}
@media (min-width: 481px) {
	.article-comments .article-comments__comment {
		padding: 30px 40px;
	}
}
@media (min-width: 768px) {
	.article-comments .article-comments__comment-form-fields {
		flex-direction: row;
	}
	.article-comments .article-comments__comment-form-field {
		flex-basis: 50%;
	}
	.article-comments .article-comments__comment-form-field:first-of-type {
		-webkit-margin-end: 30px;
		        margin-inline-end: 30px;
	}
	.article-comments .pagination {
		margin-bottom: 120px;
	}
}