/* stylelint-disable */
.cards-grid {
	max-width: calc(var(--global-container-width) + 40px);
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;
}
.cards-grid.cards-grid--full-width {
	max-width: 100%;
}
.cards-grid .cards-grid__header {
	max-width: 850px;
	margin: 0 auto;
	margin-bottom: 40px;
}
.cards-grid .cards-grid__text {
	margin-top: 15px;
}
.cards-grid .cards-grid__row {
	display: flex;
	margin: 0 -20px;
	padding: 0 10px;
	grid-column-gap: 10px;
}
.cards-grid .cards-grid__item {
	width: 65%;
	flex-shrink: 0;
	word-break: break-word;
}
.cards-grid .cards-grid__item-image-wrapper {
	position: relative;
	overflow: hidden;
	display: block;
	margin-bottom: 20px;
	padding-top: var(--image-aspect-ratio, 100%);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.cards-grid .cards-grid__item-image-wrapper.cards-grid__item-image-wrapper--hover:hover .cards-grid__item-image {
		transform: scale(1.15);
	}
}
.cards-grid .cards-grid__item-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: var(--img-desktop-pos);
	   object-position: var(--img-desktop-pos);
	vertical-align: middle;
	transition-timing-function: ease-out;
	transition-property: transform, opacity;
	transition-duration: var(--animate-img-scale);
}
.cards-grid .cards-grid__item-link-title {
	text-decoration: none;
	color: currentColor;
}
.cards-grid .cards-grid__item-text {
	margin-top: 10px;
}
@media (max-width: 575.98px) {
	.cards-grid .cards-grid__row.cards-grid__row--center-one {
		justify-content: center;
	}
}
@media (min-width: 576px) {
	.cards-grid .cards-grid__item {
		width: 40%;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.cards-grid .cards-grid__row.cards-grid__row--center-two {
		justify-content: center;
	}
}
@media (max-width: 767.98px) {
	.cards-grid .cards-grid__row {
		overflow-x: auto;
		scrollbar-width: none;
	}
	.cards-grid .cards-grid__row::-webkit-scrollbar {
		display: none;
	}
}
@media (min-width: 768px) {
	.cards-grid .cards-grid__row {
		flex-wrap: wrap;
		grid-row-gap: 40px;
		grid-column-gap: unset;
		margin: 0 -10px;
		padding: 0;
	}
	.cards-grid .cards-grid__item {
		width: 50%;
		padding: 0 10px;
	}
}
@media (min-width: 992px) {
	.cards-grid .cards-grid__row.cards-grid__row--center-desktop {
		justify-content: center;
	}
	.cards-grid .cards-grid__item.cards-grid__item--2 {
		width: 50%;
	}
	.cards-grid .cards-grid__item.cards-grid__item--3 {
		width: 33.33333%;
	}
	.cards-grid .cards-grid__item.cards-grid__item--4 {
		width: 25%;
	}
}
/* stylelint-enable */