/**
	Timings
 */
:root {
	--timing-micro: 0.1s;
	--timing-short: 0.2s;
	--timing-base: 0.4s;
	--timing-long: 0.7s;
	--timing-second: 1s;
	--animate-time: 0.7s;
	--animate-delay: 0.3s;
	--animate-img-scale: 0.5s;
	/**
	* Easing.
	*/
	--easing-linear: cubic-bezier(0, 0, 1, 1);
	--easing-ease: cubic-bezier(0.25, 0.1, 0.25, 1);
	--easing-ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
	--easing-ease-in: cubic-bezier(0.42, 0, 1, 1);
	--easing-ease-out: cubic-bezier(0, 0, 0.09, 1);
	/**
	* Config: Layers
	* -----------------------------------------------------------------------------
	* Visual motif used to create groupings, content associations and focus through depth.
	*/
	--layer-negative: -1;
	--layer-base: 0;
	--layer-flat: 1;
	--layer-raised: 2;
	--layer-sticky-btn: 7;
	--layer-sticky: 11;
	--layer-overlay: 14;
	--layer-temporary: 16;
	--layer-pop-out: 24;
	--layer-pop-out-overlay: 25;
	--layer-pop-out-overlay-loader: 26;
}
.cart-reminder {
	position: fixed;
	animation-name: fadeInTop;
	animation-duration: 0.5s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	right: 20px;
	z-index: 12;
	background-color: var(--cart-reminder-color-bg, var(--color-black));
	color: var(--cart-reminder-color-text, var(--color-white));
}
.cart-reminder .cart-reminder__close-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: var(--layer-flat);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	width: 44px;
	height: 44px;
	padding: 0;
	color: inherit;
	transition-property: opacity;
	transition-timing-function: ease;
	transition-duration: 0.3s;
}
.cart-reminder .cart-reminder__close-button:focus-visible {
	outline-color: var(--text-color, var(--color-white));
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.cart-reminder .cart-reminder__close-button:hover {
		opacity: 0.5;
	}
}
.cart-reminder .cart-reminder__content {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: min(240px, 100vw - 40px);
	padding: 44px 40px;
	color: inherit;
	transition-property: opacity;
	transition-timing-function: ease;
	transition-duration: 0.3s;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.cart-reminder .cart-reminder__content:hover {
		opacity: 0.5;
	}
}
.cart-reminder .cart-reminder__text {
	opacity: 1;
	text-transform: uppercase;
	color: inherit;
}