.compare-product-card-new {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 0;
}
.compare-product-card-new .compare-product-card__footer {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	margin-top: 10px;
}
.compare-product-card-new .compare-product-card__image-wrapper {
	position: relative;
	overflow: hidden;
	display: none;
	padding-top: 100%;
}
.compare-product-card-new .compare-product-card__image-wrapper.is-active {
	display: block;
}
.compare-product-card-new .compare-product-card__image-picture.compare-product-card__image-picture--hover {
	opacity: 0;
	transition-property: opacity;
	transition-duration: var(--timing-base);
}
.compare-product-card-new .product-card__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: var(--color-text-primary);
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: 50% 50%;
	   object-position: 50% 50%;
	transition-delay: 0.3s;
}
.compare-product-card-new .product-card__image.product-card__image--hover {
	transition-delay: 0s;
}
.compare-product-card-new .compare-product-card__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.compare-product-card-new .compare-product-card__additional-buttons {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: var(--layer-raised);
	display: flex;
	flex-direction: column;
	gap: 6px;
}
.compare-product-card-new .compare-product-card__image-wrapper-link {
	position: relative;
	overflow: hidden;
	align-self: flex-start;
	width: 100%;
}
.compare-product-card-new .compare-product-card__image-wrapper-link:focus-visible::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 0 2px var(--color-text-primary);
}
.compare-product-card-new .compare-product-card__labels {
	position: absolute;
	top: -1px;
	left: -1px;
	z-index: var(--layer-raised);
	display: flex;
	flex-direction: column;
}
.compare-product-card-new .compare-product-card__main {
	position: relative;
	display: flex;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.compare-product-card-new .compare-product-card__main:hover .compare-product-card__image-wrapper.compare-product-card__image-wrapper--with-hover .compare-product-card__image-picture.compare-product-card__image-picture--hover {
		opacity: 1;
	}
}
.compare-product-card-new .compare-product-card__label {
	padding: 6px 13px;
	background-color: var(--color-background-label-base);
	font-size: calc(var(--body-font-size) * 0.5625);
	font-weight: 400;
	line-height: 1.33;
	text-align: center;
	text-transform: uppercase;
	color: var(--color-label-base);
	border-radius: 60px;
	font-style: normal;
}
.compare-product-card-new .compare-product-card__label.compare-product-card__label--sold-out {
	background-color: var(--color-background-label-sold-out);
	color: var(--color-label-sold-out);
}
.compare-product-card-new .compare-product-card__label.compare-product-card__label--primary {
	background-color: var(--color-background-label-primary);
	color: var(--color-label-primary);
}
.compare-product-card-new .compare-product-card__label.compare-product-card__label--secondary {
	background-color: var(--color-background-label-secondary);
	color: var(--color-label-secondary);
}
.compare-product-card-new .compare-product-card__label + .compare-product-card__label {
	margin-top: 5px;
}
.compare-product-card-new .compare-product-card__meta-info {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	font-family: var(--heading-font-family);
	color: var(--color-text-secondary);
}
.compare-product-card-new .compare-product-card__price {
	margin-top: 15px;
	-webkit-padding-start: 33px;
	        padding-inline-start: 33px;
	font-family: var(--base-font-family);
	font-size: calc(var(--body-font-size) * 0.875);
	font-weight: 600;
	color: currentColor;
}
.compare-product-card-new .compare-product-card__price .price .price-item.price-item--sale {
	color: var(--color-secondary-attention, #870000);
}
.compare-product-card-new .compare-product-card__price .price.price--on-sale .price__sale .price-item--regular {
	color: var(--color-secondary-text, #8b8885);
}
.compare-product-card-new.compare-product-card--with-borders {
	border: 1px solid var(--product-card-border-color);
	transition-property: border-color;
	transition-duration: var(--timing-short);
	transition-timing-function: var(--easing-linear);
}
.compare-product-card-new .compare-product-card__row {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	word-break: break-word;
}
.compare-product-card-new .compare-product-card__row[data-index="1"] {
	padding-top: 0;
}
.compare-product-card-new .compare-product-card__option {
	min-width: 100px;
	width: 120px;
	margin-top: 5px;
	color: var(--color-text-primary);
}
.compare-product-card-new .compare-product-card__value {
	width: auto;
	margin-top: 5px;
	text-align: end;
	color: var(--color-text-secondary, #2c2a28);
}
.compare-product-card-new .compare-product-card__value > a {
	color: var(--color-text-secondary, #2c2a28);
}
.compare-product-card-new .compare-product-card__view-product {
	margin-top: 20px;
	width: 100%;
}
.compare-product-card-new .compare-product-card__remove {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	padding: 0;
	background-color: var(--color-popup-background, #f9f5f0);
	box-shadow: 0 0 3px -1px var(--color-text-secondary, #2c2a28);
	color: var(--color-text-secondary, #2c2a28);
	border-radius: 100%;
	opacity: 1;
	transition-property: opacity;
	transition-duration: var(--timing-short);
	transition-timing-function: var(--easing-ease-out);
}
.compare-product-card-new .compare-product-card__remove:focus-visible {
	outline: 2px solid var(--color-text-secondary, #2c2a28);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.compare-product-card-new .compare-product-card__remove:hover {
		opacity: 0.5;
	}
}
@media (min-width: 768px) {
	.compare-product-card-new .compare-product-card__labels {
		top: -5px;
		left: -5px;
	}
	.compare-product-card-new .compare-product-card__option {
		margin-top: 0;
	}
	.compare-product-card-new .compare-product-card__value {
		margin-top: 0;
	}
	.compare-product-card-new .product-card__image {
		border-top-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}
@media (min-width: 992px) {
	.compare-product-card-new .compare-product-card__price {
		margin-top: 10px;
		-webkit-padding-end: 0;
		        padding-inline-end: 0;
		font-size: var(--body-font-size);
	}
	.compare-product-card-new .compare-product-card__footer {
		justify-content: unset;
		align-items: center;
		width: 100%;
		flex-direction: row;
	}
}
@media (min-width: 1200px) {
	.compare-product-card-new .compare-product-card__labels {
		top: -6px;
		left: -6px;
	}
	.compare-product-card-new .compare-product-card__additional-buttons {
		gap: 15px;
	}
	.compare-product-card-new .compare-product-card__label {
		padding: 7px 17px;
		font-size: calc(var(--body-font-size) * 0.6875);
	}
	.compare-product-card-new .compare-product-card__label + .compare-product-card__label {
		margin-top: 8px;
	}
}
@media (min-width: 1501px) {
	.compare-product-card-new .compare-product-card__labels {
		top: -1px;
		left: -1px;
	}
	.compare-product-card-new .compare-product-card__label {
		padding: 8px 20px;
		background-color: var(--color-background-label-base);
		font-size: calc(var(--body-font-size) * 0.875);
		line-height: 1.6;
	}
	.compare-product-card-new .compare-product-card__label + .compare-product-card__label {
		margin-top: 10px;
	}
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.compare-product-card-new .compare-product-card__additional-buttons {
		opacity: 0;
		transition-property: opacity;
		transition-duration: var(--timing-short);
	}
	.compare-product-card-new .compare-product-card__main {
		border-width: 1px;
		border-style: solid;
		border-color: transparent;
		transition-property: border-bottom-color, border-left-color, border-right-color, border-top-color;
		transition-duration: var(--timing-short);
	}
}
@media (-moz-touch-enabled: 0) and (-moz-touch-enabled: 0), (-moz-touch-enabled: 0) and (hover: hover), (-moz-touch-enabled: 0) and (pointer: fine), (hover: hover) and (-moz-touch-enabled: 0), (hover: hover) and (hover: hover), (hover: hover) and (pointer: fine), (pointer: fine) and (-moz-touch-enabled: 0), (pointer: fine) and (hover: hover), (pointer: fine) and (pointer: fine) {
	.compare-product-card-new .compare-product-card__main:hover {
		border-color: var(--color-border-primary, #8b8885);
	}
	.compare-product-card-new .compare-product-card__main:hover .compare-product-card__additional-buttons {
		opacity: 1;
	}
}
@media (-moz-touch-enabled: 1), (hover: none), (pointer: coarse) {
	.compare-product-card-new .compare-product-card__view-product .button-link-new__icon {
		transform: translate(0, -50%);
	}
}
.compare-products-button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 48px;
	height: 48px;
	padding: 0;
	border-radius: 100%;
	background-color: var(--color-pdp-compare-button-bg, #fff);
	color: var(--color-pdp-compare-button-color, #000);
	transition-property: opacity, background-color, color;
	transition-duration: var(--timing-base);
	transition-timing-function: var(--easing-ease-out);
}
.compare-products-button svg {
	width: 20px;
	height: 20px;
}
.compare-products-button.compare-products-button--border {
	border: 1px solid var(--color-pdp-compare-button-color, #000);
}
.compare-products-button.is-active {
	background-color: var(--color-pdp-compare-button-color, #000);
	color: var(--color-pdp-compare-button-bg, #fff);
}
.compare-products-button:focus-visible {
	outline: 2px solid black;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.compare-products-button:hover {
		opacity: 0.7;
	}
}
.compare-products-new {
	top: 50%;
	left: 50%;
	justify-content: flex-start;
	width: auto;
	padding: 40px 20px 20px;
	border: 1px solid var(--color-border-secondary, #d2d2d2);
	background-color: var(--color-popup-background);
	transform: translate(-50%, -50%);
	flex-direction: column;
	max-width: calc(100% - 32px);
	max-height: calc(100% - 32px);
}
.compare-products-new .compare-products__header {
	position: static;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	flex-wrap: wrap;
	-moz-column-gap: 30px;
	     column-gap: 30px;
	row-gap: 10px;
	padding: 0;
}
.compare-products-new .compare-products__heading {
	text-align: start;
}
.compare-products-new .compare-products__clear {
	padding: 0;
	font-family: var(--heading-font-family);
	font-size: calc(var(--heading-font-size) * 0.875);
	text-decoration: underline;
	color: var(--color-text-primary);
	text-underline-offset: 2px;
	transition-property: -webkit-text-decoration-color;
	transition-property: text-decoration-color;
	transition-property: text-decoration-color, -webkit-text-decoration-color;
	transition-duration: var(--timing-base);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.compare-products-new .compare-products__clear:hover {
		-webkit-text-decoration-color: transparent;
		        text-decoration-color: transparent;
	}
}
.compare-products-new .compare-products__close {
	position: absolute;
	top: 15px;
	inset-inline-end: 15px;
	display: inline-flex;
	opacity: 1;
	width: 30px;
	height: 30px;
	-webkit-margin-start: auto;
	        margin-inline-start: auto;
	padding: 5px;
	color: var(--color-text-secondary, #2c2a28);
	transition-property: opacity;
	transition-timing-function: ease;
	transition-duration: 0.3s;
}
.compare-products-new .compare-products__close .icon {
	width: 100%;
	height: 100%;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.compare-products-new .compare-products__close:hover {
		opacity: 0.5;
	}
}
.compare-products-new .compare-products__body {
	margin-top: 20px;
	padding: 0;
}
.compare-products-new .compare-products__content {
	display: grid;
	grid-template-columns: repeat(var(--compare-products-count), min(360px, 100vw - 74px));
	-moz-column-gap: 30px;
	     column-gap: 30px;
	row-gap: 10px;
	scroll-snap-type: x mandatory;
}
.compare-products-new .compare-products__content > .compare-product-card__row {
	scroll-snap-align: start;
}
.compare-products-new .compare-product-card-new {
	padding: 0 0 13px;
	overflow-x: auto;
}
.compare-products-new .compare-product-card-new .compare-product-card__row {
	width: min(360px, 100vw - 74px);
	height: -moz-max-content;
	height: max-content;
	flex-shrink: 0;
}
@media (min-width: 576px) {
	.compare-products-new .compare-products__clear {
		font-size: var(--heading-font-size);
	}
}
@media (min-width: 992px) {
	.compare-products-new {
		max-width: min(1230px, 100% - 32px);
		padding: 50px;
	}
	.compare-products-new .compare-products__body {
		margin-top: 40px;
	}
	.compare-products-new .compare-products__clear {
		font-size: calc(var(--heading-font-size) * 1.125);
	}
	.compare-products-new .compare-products__header {
		flex-direction: row;
	}
	.compare-products-new .compare-products__heading.compare-products__heading--mobile {
		display: none;
	}
	.compare-products-new .compare-products__content {
		grid-template-columns: repeat(var(--compare-products-count), 260px);
	}
	.compare-products-new .compare-product-card-new {
		padding-bottom: 30px;
	}
	.compare-products-new .compare-product-card-new .compare-product-card__row {
		width: 260px;
	}
}
.window-overlay[data-js-overlay=compare-products-preloader] {
	pointer-events: none;
}
.window-overlay[data-js-overlay=compare-products] {
	cursor: pointer;
}
.window-overlay[data-js-overlay=compare-products] .loader {
	display: none;
}