.cookie-bar {
	position: fixed;
	bottom: 0;
	animation-name: fadeInBottom;
	animation-duration: 0.5s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	right: 20px;
	z-index: 12;
	max-width: min(340px, 100vw - 40px);
	max-height: calc(100vh - var(--header-height) - var(--header-offset-top) - 40px);
	overflow-y: auto;
	padding: 20px;
	padding-top: 40px;
	background-color: var(--background-color, var(--color-black));
	color: var(--text-color, var(--color-white));
}
.cookie-bar.cookie-bar--shadow {
	box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.5607843137);
}
.cookie-bar .cookie-bar__close {
	position: absolute;
	top: 5px;
	right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	width: 44px;
	height: 44px;
	padding: 0;
	color: inherit;
	transition-property: opacity;
	transition-timing-function: ease;
	transition-duration: 0.3s;
}
.cookie-bar .cookie-bar__close:focus-visible {
	outline-color: var(--text-color, var(--color-white));
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.cookie-bar .cookie-bar__close:hover {
		opacity: 0.5;
	}
}
.cookie-bar .cookie-bar__heading {
	margin-bottom: 20px;
	font-size: calc(var(--body-font-size) * 1.25);
	color: inherit;
}
.cookie-bar .cookie-bar__description {
	color: inherit;
}
.cookie-bar .cookie-bar__button {
	width: 100%;
	margin-top: 20px;
	border: 1px solid var(--button-border-color, #ffffff);
	background-color: var(--button-background-color, #000000);
	color: var(--button-label-color, #ffffff);
	transition-property: background-color, color, border-color;
	transition-duration: var(--timing-short);
}
.cookie-bar .cookie-bar__button:focus-visible {
	outline-color: var(--text-color, var(--color-white));
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.cookie-bar .cookie-bar__button:hover {
		border: 1px solid var(--button-border-hover-color, #ffffff);
		background-color: var(--button-background-hover-color, #000000);
		color: var(--button-label-hover-color, #ffffff);
	}
}
.template-search .cookie-bar,
.template-collection .cookie-bar {
	bottom: 50px;
	animation-name: fadeInBottomHigh;
}
@media (min-width: 768px) {
	.template-search .cookie-bar,
	.template-collection .cookie-bar {
		bottom: 0;
		animation-name: fadeInBottom;
	}
}