.faq-page .faq-page__heading {
	padding-left: 20px;
	padding-right: 20px;
	line-height: 1.37;
	letter-spacing: 0.02em;
}
.faq-page .faq-page__label {
	font-size: 14px;
}
.faq-page .faq-page__label + .faq-page__heading {
	margin-top: 0.8rem;
}
.faq-page .faq-page__main {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin-top: 20px;
}
.faq-page .faq-page__navigation {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: var(--color-background, #fff);
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	will-change: border-color;
}
.faq-page .faq-page__content {
	opacity: 0;
}
.faq-page .faq-page__content.animated {
	opacity: 1;
	transition-property: opacity;
	transition-duration: var(--animate-time);
}
html.no-js .faq-page .faq-page__content {
	opacity: 1;
}
.faq-page .faq-page__navigation-wrapper {
	position: sticky;
	top: calc(var(--header-height-sticky, 0) - 1px);
	z-index: var(--layer-flat, 1);
	width: 100%;
	transition-property: top;
	transition-timing-function: ease;
	transition-duration: 0.3s;
}
.faq-page .faq-page__navigation-wrapper.is-sticky .faq-page__navigation {
	border-color: #e6e6e6;
}
.faq-page .faq-page__navigation-wrapper + .faq-page__content {
	margin-top: 30px;
}
.faq-page .faq-page__sidenav {
	overflow: scroll hidden;
	display: flex;
	align-items: center;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.faq-page .faq-page__sidenav::-webkit-scrollbar {
	display: none;
}
.faq-page .faq-page__sidenav-item {
	display: flex;
	white-space: nowrap;
}
.faq-page .faq-page__sidenav-item-link {
	position: relative;
	opacity: 0.65;
	-webkit-margin-start: 20px;
	        margin-inline-start: 20px;
	-webkit-margin-end: 20px;
	        margin-inline-end: 20px;
	padding-top: 9px;
	padding-bottom: 9px;
	font-weight: 400;
	line-height: 1.375;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: var(--color-text-primary, #000);
	word-break: break-word;
	transition: opacity var(--timing-base) var(--easing-ease-out);
	will-change: opacity;
}
.faq-page .faq-page__sidenav-item-link::before {
	content: "";
	position: absolute;
	bottom: 7px;
	width: 0;
	height: 1px;
	background: currentColor;
	transition: width var(--timing-base) var(--easing-ease-out);
	will-change: width;
}
.faq-page .faq-page__sidenav-item-link.is-active {
	opacity: 1;
}
.faq-page .faq-page__sidenav-item-link.is-active::before {
	width: 30px;
}
.faq-page .faq-page__sidenav-item-link:focus-visible {
	opacity: 1;
	outline: 2px solid var(--color-primary-second, #000);
	outline-offset: -1px;
}
.faq-page .faq-page__sidenav-item-link:focus-visible::before {
	width: 100%;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.faq-page .faq-page__sidenav-item-link:hover:hover {
		opacity: 1;
	}
	.faq-page .faq-page__sidenav-item-link:hover:hover::before {
		width: 100%;
	}
}
.faq-page .faq-page__category + .faq-page__category {
	margin-top: 0;
	padding-top: 40px;
}
.faq-page .faq-page__category-heading {
	margin-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: calc(var(--heading-font-size) * 1.5);
	font-weight: 600;
	line-height: 1.375;
	letter-spacing: 0.02em;
}
.faq-page .faq-page__item-control-icon {
	position: absolute;
	inset-inline-end: 19px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	visibility: visible;
	opacity: 1;
	height: 1.6em;
	transition: all var(--timing-base) var(--easing-linear);
}
.faq-page .faq-page__item-control-icon .icon {
	transform: none;
}
.faq-page .faq-page__item {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}
.faq-page .faq-page__item + .faq-page__item {
	border-top: none;
}
.faq-page .faq-page__item.is-active .faq-page__item-control-icon.faq-page__item-control-icon--plus {
	visibility: hidden;
	opacity: 0;
}
.faq-page .faq-page__item:not(.is-active) .faq-page__item-control-icon.faq-page__item-control-icon--minus {
	visibility: hidden;
	opacity: 0;
}
.faq-page .faq-page__item-image {
	width: 20px;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: var(--img-desktop-pos);
	   object-position: var(--img-desktop-pos);
}
.faq-page .faq-page__item-title {
	font-size: var(--body-font-size);
	font-weight: 400;
	line-height: 160%;
}
.faq-page .faq-page__item-control {
	position: relative;
	align-items: flex-start;
	padding-bottom: 19px;
	-webkit-padding-start: 20px;
	        padding-inline-start: 20px;
	-webkit-padding-end: 40px;
	        padding-inline-end: 40px;
	line-height: inherit;
	text-align: start;
	color: var(--color-text-primary, #000);
	transition: opacity var(--timing-short) var(--easing-ease-out);
}
.faq-page .faq-page__item-control:focus-visible {
	opacity: 0.5;
	outline: 2px solid var(--color-primary-second, #000);
	outline-offset: 2px;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.faq-page .faq-page__item-control:hover:hover {
		opacity: 0.5;
	}
}
.faq-page .faq-page__item-title-text {
	display: flex;
	align-items: flex-start;
}
.faq-page .faq-page__item-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 24px;
	max-width: 24px;
	width: 24px;
	height: 24px;
	-webkit-margin-end: 10px;
	        margin-inline-end: 10px;
}
.faq-page .faq-page__item-icon .icon {
	transform: none;
}
.faq-page .faq-page__item-inner {
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	color: var(--color-secondary-text, #757575);
}
@media (min-width: 768px) {
	.faq-page .faq-page__container {
		margin-left: auto;
		margin-right: auto;
		padding-left: 40px;
		padding-right: 40px;
	}
	.faq-page .faq-page__heading,
	.faq-page .faq-page__item-control {
		-webkit-padding-start: 0;
		        padding-inline-start: 0;
	}
	.faq-page .faq-page__main {
		flex-direction: row;
	}
	.faq-page .faq-page__navigation-wrapper {
		top: calc(var(--sticky-sidebar-offset-top, 40px) + var(--header-height-sticky, 0));
		max-width: 200px;
	}
	.faq-page .faq-page__navigation-wrapper + .faq-page__content {
		margin-top: 0;
		-webkit-margin-start: 40px;
		        margin-inline-start: 40px;
	}
	.faq-page .faq-page__navigation {
		justify-content: unset;
		border-top: none;
		border-bottom: none;
	}
	.faq-page .faq-page__sidenav {
		overflow: unset;
		flex-direction: column;
		align-items: flex-start;
	}
	.faq-page .faq-page__sidenav-item {
		white-space: unset;
	}
	.faq-page .faq-page__sidenav-item + .faq-page__sidenav-item {
		margin-top: 30px;
	}
	.faq-page .faq-page__sidenav-item-link {
		-webkit-margin-start: 0;
		        margin-inline-start: 0;
		-webkit-margin-end: 0;
		        margin-inline-end: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	.faq-page .faq-page__sidenav-item-link:focus-visible {
		outline-offset: 0;
	}
	.faq-page .faq-page__sidenav-item-link::before {
		bottom: -2px;
	}
	.faq-page .faq-page__category + .faq-page__category {
		margin-top: 80px;
		padding-top: 0;
	}
	.faq-page .faq-page__category-heading {
		padding-left: 0;
		padding-right: 0;
	}
	.faq-page .faq-page__item-icon {
		-webkit-margin-end: 15px;
		        margin-inline-end: 15px;
	}
	.faq-page .faq-page__item-inner {
		padding-left: 0;
		padding-right: 0;
	}
}
@media (min-width: 992px) {
	.faq-page .faq-page__container {
		padding-left: 60px;
		padding-right: 60px;
		max-width: 1560px;
	}
	.faq-page .faq-page__navigation-wrapper + .faq-page__content {
		-webkit-margin-start: 60px;
		        margin-inline-start: 60px;
	}
}
@media (min-width: 1501px) {
	.faq-page .faq-page__navigation-wrapper {
		max-width: 330px;
	}
}