.filter-price-new {
	padding-bottom: 27px;
}
.filter-price-new .filter-price__inputs {
	display: flex;
	align-items: center;
	gap: 0 10px;
	width: 100%;
	margin-bottom: 27px;
}
.filter-price-new .filter-price__input-wrapper {
	position: relative;
	width: 100%;
}
.filter-price-new .filter-price__currency {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
}
.filter-price-new input[type=number].filter-price__input {
	margin-bottom: 0;
	padding: 14px 15px 15px 35px;
	border-radius: 50px;
	border: 1px solid var(--color-border-thirdly);
	-moz-appearance: textfield;
	-webkit-tap-highlight-color: transparent;
}
.filter-price-new input[type=number].filter-price__input::-webkit-outer-spin-button, .filter-price-new input[type=number].filter-price__input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	appearance: none;
}
.filter-price-new input[type=number].filter-price__input::-moz-placeholder {
	opacity: 1;
	color: var(--color-text-secondary, #757575);
}
.filter-price-new input[type=number].filter-price__input:-moz-placeholder-shown + .filter-price__currency {
	opacity: 1;
	color: var(--color-text-secondary, #757575);
}
.filter-price-new input[type=number].filter-price__input::placeholder, .filter-price-new input[type=number].filter-price__input:placeholder-shown + .filter-price__currency {
	opacity: 1;
	color: var(--color-text-secondary, #757575);
}
.filter-price-new input[type=number].filter-price__input.is-error {
	border-color: var(--color-text-attention, #b00020);
	color: var(--color-secondary-attention, #b00020);
}
.filter-price-new input[type=number].filter-price__input.is-error::-moz-placeholder {
	color: var(--color-secondary-attention, #b00020);
}
.filter-price-new input[type=number].filter-price__input.is-error:not(:-moz-placeholder-shown) + .filter-price__currency {
	color: var(--color-secondary-attention, #b00020);
}
.filter-price-new input[type=number].filter-price__input.is-error::placeholder, .filter-price-new input[type=number].filter-price__input.is-error:not(:placeholder-shown) + .filter-price__currency {
	color: var(--color-secondary-attention, #b00020);
}
.filter-price-new input[type=number].filter-price__input.is-error:-moz-placeholder-shown + .filter-price__currency {
	display: none;
}
.filter-price-new input[type=number].filter-price__input.is-error:placeholder-shown + .filter-price__currency {
	display: none;
}
.filter-price-new .filter-price__separator {
	width: 16px;
	height: 1px;
	flex-shrink: 0;
	background-color: var(--color-text-secondary, #757575);
}
.filter-price-new .filter-price__range-slider {
	padding: 0 calc(var(--thumb-size, 18px) / 2);
}
.filter-price-new .filter-price__range-inputs {
	position: relative;
	height: 1px;
	background: linear-gradient(to right, var(--color-border-secondary) var(--range-min), var(--color-border-primary) var(--range-min), var(--color-border-primary) var(--range-max), var(--color-border-secondary) var(--range-max));
}
.filter-price-new .filter-price__range-input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: transparent;
	vertical-align: top;
	pointer-events: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.filter-price-new input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 1px;
	border: none;
	background: none;
	cursor: pointer;
}
.filter-price-new input[type=range]::-webkit-slider-thumb {
	position: relative;
	z-index: 1;
	width: var(--thumb-size, 18px);
	height: var(--thumb-size, 18px);
	margin-top: calc(var(--thumb-size) / -2);
	outline: 0;
	background-color: var(--color-text-secondary);
	border-radius: 50%;
	pointer-events: all;
	-webkit-appearance: none;
	box-shadow: none;
	cursor: pointer;
}
.filter-price-new input.filter-price__range-input--min[type=range]::-webkit-slider-thumb {
	transform: translateX(calc(var(--thumb-size) / -2));
}
.filter-price-new input.filter-price__range-input--max[type=range]::-webkit-slider-thumb {
	transform: translateX(calc(var(--thumb-size) / 2));
}
.filter-price-new input[type=range]::-moz-range-thumb {
	position: relative;
	z-index: 1;
	width: var(--thumb-size-moz);
	height: var(--thumb-size-moz);
	margin-top: calc(var(--thumb-size-moz) / -2);
	outline: 0;
	background-color: var(--color-text-secondary);
	border-radius: 50%;
	pointer-events: all;
	-webkit-appearance: none;
	box-shadow: none;
	cursor: pointer;
}
.filter-price-new input.filter-price__range-input--min[type=range]::-moz-range-thumb {
	transform: translateX(calc(var(--thumb-size) / -2));
}
.filter-price-new input.filter-price__range-input--max[type=range]::-moz-range-thumb {
	transform: translateX(calc(var(--thumb-size) / 2));
}
@media (max-width: 1199.98px) {
	.filter-price-new {
		padding-top: 3px;
	}
	.filter-price-new input[type=number].filter-price__input {
		padding: 12px 30px;
	}
	.filter-price-new .filter-price__separator {
		width: 14px;
	}
	.filter-price-new .filter-price__currency {
		left: 15px;
	}
}
body.rtl .filter-price-new input.filter-price__range-input--min[type=range]::-webkit-slider-thumb {
	transform: translateX(calc(var(--thumb-size) / 2));
}
body.rtl .filter-price-new input.filter-price__range-input--max[type=range]::-webkit-slider-thumb {
	transform: translateX(calc(var(--thumb-size) / -2));
}
body.rtl .filter-price-new input.filter-price__range-input--min[type=range]::-moz-range-thumb {
	transform: translateX(calc(var(--thumb-size) / 2));
}
body.rtl .filter-price-new input.filter-price__range-input--max[type=range]::-moz-range-thumb {
	transform: translateX(calc(var(--thumb-size) / -2));
}