.gift-card {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.gift-card__header {
	margin-bottom: 1.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.gift-card__shop-name {
	margin-bottom: 1rem;
}

.gift-card__logo {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: var(--img-desktop-pos);
	   object-position: var(--img-desktop-pos);
}

.gift-card__title {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.gift-card__body {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.gift-card__body .button {
	margin-top: 15px;
	text-decoration: none;
}

.gift-card__image {
	max-width: 400px;
	width: 100%;
}

.gift-card__qr-code {
	margin-top: 20px;
	margin-bottom: 20px;
}

.gift-card__number {
	text-align: center;
}

.gift-card__copy-link {
	border-bottom: 1px solid var(--color-text-primary);
	opacity: 1;
	transition: opacity var(--timing-micro);
}

.gift-card__copy-link:hover {
	opacity: 0.8;
}

.gift-card__copy-link:focus-visible {
	outline: 2px solid var(--color-text-primary);
}

.gift-card__copy-code {
	width: 100%;
}

.gift-card__copy-code .icon-success {
	width: 24px;
	height: 24px;
	-webkit-margin-end: 10px;
	        margin-inline-end: 10px;
}

.gift-card__buttons-wrapper {
	display: flex;
	flex-direction: column;
}

.gift-card__apple-wallet {
	margin-top: 30px;
}

.gift-card__apple-wallet:focus-visible {
	outline: 2px solid var(--color-text-primary);
	outline-offset: 1px;
}

.gift-card__apple-wallet-image {
	vertical-align: middle;
}

.gift-card__copy-success {
	display: flex;
	justify-content: center;
	align-items: center;
}