.grid-images {
	display: flex;
	flex-direction: column;
	opacity: 0;
}
.grid-images.grid-images--max-width {
	max-width: var(--global-container-width);
	margin: 0 auto;
}
.grid-images.animated {
	opacity: 1;
	transition-property: opacity;
	transition-duration: var(--animate-time);
}
.grid-images .grid-images__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition-timing-function: ease-out;
	transition-property: transform, opacity;
	transition-duration: var(--animate-img-scale);
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: var(--img-mob-pos);
	   object-position: var(--img-mob-pos);
}
.grid-images .grid-images__image-container {
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	height: 100%;
	padding-top: 90.7%;
	text-decoration: none;
}
.grid-images .grid-images__image-container::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	opacity: var(--overlay-opacity);
	width: 100%;
	height: 100%;
	background-color: var(--overlay-color);
}
.grid-images .grid-images__image-container::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	width: calc(100% - var(--image-border-indent) * 2);
	height: calc(100% - var(--image-border-indent) * 2);
	border: var(--image-border-width) solid var(--image-border-color);
	transform: translate(-50%, -50%);
}
.grid-images .grid-images__image-container:focus-visible .grid-images__image {
	opacity: 0.6;
}
.grid-images .grid-images__image-container svg {
	fill: var(--color-primary-second);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.grid-images .grid-images__image-container.grid-images__image-container--hover:hover .grid-images__image {
		transform: scale(1.15);
	}
}
.grid-images .grid-images__col {
	width: 100%;
	line-height: 0;
}
.grid-images .grid-images__col.grid-images__col--big .grid-images__image-container {
	padding-top: 90.7%;
}
.grid-images .grid-images__col.grid-images__col--full-width .grid-images__image-container {
	padding-top: 90.7%;
}
.grid-images .grid-images__info {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	max-width: 500px;
	width: 100%;
	padding: 25px;
	text-align: center;
	word-break: break-word;
	transform: translate(-50%, -50%);
}
.grid-images .grid-images__label,
.grid-images .grid-images__heading {
	line-height: 1.36;
	letter-spacing: 0.02em;
	color: var(--text-color, var(--color-text-primary));
}
.grid-images .grid-images__label {
	margin-bottom: 10px;
}
.grid-images .grid-images__heading {
	font-size: calc(var(--heading-font-size) * 1.75);
	font-weight: 400;
}
html.no-js .grid-images {
	opacity: 1;
}
@media (min-width: 768px) {
	.grid-images {
		flex-direction: row;
	}
	.grid-images .grid-images__image-container {
		padding-top: 88.88%;
	}
	.grid-images .grid-images__col {
		width: 37.5%;
	}
	.grid-images .grid-images__col.grid-images__col--big {
		width: 62.5%;
	}
	.grid-images .grid-images__col.grid-images__col--big .grid-images__image-container {
		padding-top: 53.33%;
	}
	.grid-images .grid-images__col.grid-images__col--full-width {
		width: 100%;
	}
	.grid-images .grid-images__col.grid-images__col--full-width .grid-images__image-container {
		padding-top: 33.33%;
	}
	.grid-images .grid-images__image {
		-o-object-position: var(--img-desktop-pos);
		   object-position: var(--img-desktop-pos);
	}
}
@media (min-width: 1200px) {
	.grid-images .grid-images__heading {
		font-size: calc(var(--heading-font-size) * 2.125);
	}
}
@media (min-width: 768px) {
	body.rtl .grid-images {
		flex-direction: row-reverse;
	}
}