/**
	Timings
 */
:root {
	--timing-micro: 0.1s;
	--timing-short: 0.2s;
	--timing-base: 0.4s;
	--timing-long: 0.7s;
	--timing-second: 1s;
	--animate-time: 0.7s;
	--animate-delay: 0.3s;
	--animate-img-scale: 0.5s;
	/**
	* Easing.
	*/
	--easing-linear: cubic-bezier(0, 0, 1, 1);
	--easing-ease: cubic-bezier(0.25, 0.1, 0.25, 1);
	--easing-ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
	--easing-ease-in: cubic-bezier(0.42, 0, 1, 1);
	--easing-ease-out: cubic-bezier(0, 0, 0.09, 1);
	/**
	* Config: Layers
	* -----------------------------------------------------------------------------
	* Visual motif used to create groupings, content associations and focus through depth.
	*/
	--layer-negative: -1;
	--layer-base: 0;
	--layer-flat: 1;
	--layer-raised: 2;
	--layer-sticky-btn: 7;
	--layer-sticky: 11;
	--layer-overlay: 14;
	--layer-temporary: 16;
	--layer-pop-out: 24;
	--layer-pop-out-overlay: 25;
	--layer-pop-out-overlay-loader: 26;
}
.images-row .images-row__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.images-row .images-row__container.images-row__container--max-width {
	max-width: var(--global-container-width);
	margin: 0 auto;
}
.images-row .images-row__wrapper {
	position: relative;
	max-width: 100%;
	width: 100%;
	padding-top: 100%;
}
.images-row .images-row__item {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: var(--img-desktop-pos);
	   object-position: var(--img-desktop-pos);
}
@media (min-width: 576px) {
	.images-row .images-row__container {
		flex-direction: row;
	}
	.images-row .images-row__wrapper {
		max-width: 50%;
		padding-top: 50%;
	}
}