.password-header {
	background-color: var(--section-background, var(--color-white));
	font-size: var(--body-font-size);
	color: var(--section-text_color, var(--color-white));
}
.password-header .password-header__container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding-top: 24px;
	padding-bottom: 21px;
	padding-left: 20px;
	padding-right: 20px;
}
.password-header .password-header__col {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.password-header .password-header__row {
	max-width: -moz-fit-content;
	max-width: fit-content;
}
.password-header .password-header__message {
	text-align: center;
}
.password-header .password-header__logo-wrapper {
	text-transform: uppercase;
	word-break: break-word;
}
.password-header .password-header__logo {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: var(--img-desktop-pos);
	   object-position: var(--img-desktop-pos);
}
.password-header .password-header__logo-header.h2 {
	color: var(--section-text_color, var(--color-text-primary));
}
.password-header .password-header__button {
	opacity: 1;
	text-decoration: underline;
	color: var(--section-text_color, var(--color-white));
	transition-property: opacity;
	transition-timing-function: ease;
	transition-duration: 0.3s;
}
.password-header .password-header__button:focus-visible {
	outline: 2px solid currentColor;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.password-header .password-header__button:hover {
		opacity: 0.5;
	}
}
@media (min-width: 768px) {
	.password-header .password-header__col {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.password-header .password-header__row {
		width: 33.33333%;
		max-width: 33.3333%;
	}
	.password-header .password-header__row:last-child {
		text-align: end;
	}
}
@media (min-width: 1200px) {
	.password-header .header__container {
		padding: 30px 40px;
	}
}
.password-popup {
	top: 50%;
	left: 50%;
	flex-direction: column;
	width: calc(100% - 40px);
	max-width: 600px;
	max-height: calc(100% - 40px);
	padding: 20px 0;
	padding-top: 10px;
	background-color: var(--popup-background-color, var(--color-white));
	color: var(--popup-text-color, var(--color-text-primary));
	transform: translate(-50%, -50%);
}
.password-popup .password__header {
	display: flex;
	align-items: flex-start;
	padding: 0 20px;
	-webkit-padding-end: 10px;
	        padding-inline-end: 10px;
}
.password-popup .password-popup__close {
	display: inline-flex;
	opacity: 1;
	-webkit-margin-start: auto;
	        margin-inline-start: auto;
	padding: 15px;
	color: inherit;
	transition-property: opacity;
	transition-timing-function: ease;
	transition-duration: 0.3s;
}
.password-popup .password-popup__close:focus-visible {
	outline: 2px solid currentColor;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.password-popup .password-popup__close:hover {
		opacity: 0.5;
	}
}
.password-popup .password-popup__body {
	width: 100%;
	padding: 0 20px;
}
.password-popup .password-popup__heading {
	font-size: calc(var(--heading-font-size) * 1.2);
	font-weight: 400;
	line-height: 1.375;
	letter-spacing: 0.02em;
	text-align: start;
	color: inherit;
}
.password-popup .password-popup__form-content {
	display: flex;
	padding-top: 20px;
	flex-direction: column;
	gap: 20px;
}
.password-popup .password-popup__field {
	width: 100%;
}
.password-popup .password-popup__input[type=password] {
	margin: 0;
	border-color: var(--popup-input-border-color-not-focus);
	box-shadow: none;
	color: var(--popup-input-color, var(--color-text-primary));
}
.password-popup .password-popup__input[type=password].error:not(:focus) {
	border-color: var(--color-text-attention, #b00020);
	color: var(--color-text-attention, #b00020);
}
.password-popup .password-popup__input[type=password]:focus, .password-popup .password-popup__input[type=password]:focus-visible {
	border-color: currentColor;
	box-shadow: none;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.password-popup .password-popup__input[type=password]:hover {
		border-color: currentColor;
		box-shadow: none;
	}
}
.password-popup .password-popup__label {
	opacity: 0.8;
	color: var(--popup-input-color, var(--color-text-primary));
}
.password-popup .password-popup__button {
	min-width: 100px;
	border-color: var(--popup-button-background-color, var(--button-border-color-secondary));
	background-color: var(--popup-button-background-color, var(--button-background-color-secondary));
	color: var(--popup-button-text-color, var(--button-text-color-secondary));
}
.password-popup .password-popup__button:focus-visible {
	outline-color: var(--popup-button-background-color);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.password-popup .password-popup__button:hover {
		border-color: var(--popup-button-background-color, var(--button-border-color-secondary));
		background-color: transparent;
		color: var(--popup-button-background-color, var(--button-border-color-secondary));
	}
}
.password-popup .password-popup__submitted-title {
	display: block;
	padding-top: 20px;
}
.password-popup .password-popup__description {
	padding-top: 30px;
}
.password-popup .password-popup__description a {
	color: currentColor;
}
.password-popup .password-popup__description a:focus-visible {
	outline-color: currentColor;
}
@media (min-width: 992px) {
	.password-popup {
		width: calc(100% - 40px);
		padding-top: 10px;
		padding-bottom: 52px;
	}
	.password-popup .password-popup__header {
		padding: 0 10px 10px 25px;
	}
	.password-popup .password-popup__body {
		padding: 0 25px;
	}
}
@media (min-width: 576px) {
	.password-popup .password-popup__form-content {
		flex-direction: row;
	}
}