.password-footer {
	background-color: var(--background-color, var(--color-white));
	border-top: 1px solid var(--border-top-color, transparent);
	color: var(--text-color, var(--color-text-primary));
}
.password-footer .password-footer__container {
	width: 100%;
	max-width: 1480px;
	margin: 0 auto;
	padding: 30px 20px;
}
.password-footer .password-footer__text {
	text-align: center;
}
.password-footer .password-footer__text a {
	color: currentColor;
}
.password-footer .password-footer__text a:focus-visible {
	outline: 2px solid currentColor;
}