.password-content-wrapper {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.password-content {
	position: relative;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}

.password-content .password-content__container {
	position: relative;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}

.password-content .password-content__image-wrapper {
	position: relative;
	padding-top: 106.667%;
}

.password-content .password-content__image-wrapper::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-image: var(--overlay, linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%));
}

.password-content .password-content__image {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: var(--img-mob-pos);
	   object-position: var(--img-mob-pos);
}

.password-content .password-content__content-box-wrapper {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	width: 100%;
}

.password-content .password-content__content-box {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 20px;
	background-color: var(--background-color, var(--color-white));
	flex-direction: column;
	gap: 20px;
}

.password-content .password-content__heading {
	text-align: center;
	color: var(--heading-color, var(--color-text-primary));
}

.password-content .password-content__description {
	line-height: 1.6;
	text-align: center;
	color: var(--description-color, var(--color-gray));
}

.password-content .password-content__description a {
	color: currentColor;
}

.password-content .password-content__description a:focus-visible {
	outline: 2px solid currentColor;
}

.password-content .password-content__form-field {
	display: flex;
	align-items: center;
	width: 100%;
}

.password-content .password-content__form-field .password-content__form-input[type=email] {
	margin-bottom: 0;
	-webkit-padding-end: 50px;
	        padding-inline-end: 50px;
	border-color: var(--input-border-color-not-focus);
	color: var(--input-color, var(--color-text-primary));
	box-shadow: none;
}

.password-content .password-content__form-field .password-content__form-input[type=email].error:not(:focus) {
	border-color: var(--color-text-attention, #b00020);
	color: var(--color-text-attention, #b00020);
}

.password-content .password-content__form-field .password-content__form-input[type=email]:focus, .password-content .password-content__form-field .password-content__form-input[type=email]:focus-visible {
	border-color: currentColor;
	box-shadow: none;
}

@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.password-content .password-content__form-field .password-content__form-input[type=email]:hover {
		border-color: currentColor;
	}
}

.password-content .password-content__form-label {
	max-width: calc(100% - 75px);
	opacity: 0.8;
	color: var(--input-color, var(--color-text-primary));
}

.password-content .password-content__form-button {
	position: absolute;
	top: 50%;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	-webkit-padding-end: 24px;
	        padding-inline-end: 24px;
	color: var(--input-color, var(--color-text-primary));
	transform: translateY(-50%);
}

.password-content .password-content__form-button .icon {
	transform: translateX(0);
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.password-content .password-content__form-button:focus-visible {
	outline: 2px solid var(--input-color);
}

@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.password-content .password-content__form-button:hover .icon {
		transform: translateX(10px);
	}
}

.password-content .password-content__form-message {
	display: none;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	font-family: var(--base-font-family);
	font-size: 1rem;
	font-weight: normal;
}

.password-content .password-content__form-message.password-content__form-message--error {
	color: var(--color-text-attention);
}

.password-content .password-content__form-message.password-content__form-message--success {
	color: var(--color-text-success);
}

.password-content .password-content__form-message svg {
	-webkit-margin-end: 10px;
	        margin-inline-end: 10px;
	fill: currentColor;
}

.password-content.is-current .password-content__form-message {
	display: flex;
}

@media (min-width: 481px) {
	.password-content .password-content__image {
		-o-object-position: var(--img-desktop-pos);
		   object-position: var(--img-desktop-pos);
	}
}

@media (min-width: 576px) {
	.password-content .password-content__container {
		justify-content: center;
		padding: 80px 0;
	}
	.password-content .password-content__image-wrapper {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		padding-top: unset;
	}
	.password-content .password-content__image-wrapper::after {
		content: "";
	}
	.password-content .password-content__content-box-wrapper {
		max-width: 535px;
		margin: 0 auto;
	}
	.password-content .password-content__content-box {
		flex: unset;
	}
}

html.no-js .password-content .password-content__form-message {
	display: flex;
}