.password-footer-new .password-footer__container {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 16px;
	padding-right: 16px;
	max-width: 1920px;
}
.password-footer-new .password-footer__text {
	width: 100%;
	padding: 12px 23px;
	background-color: var(--background-color, var(--color-white));
	line-height: 1.5;
	text-align: center;
	color: var(--text-color, var(--color-text-primary));
	border-radius: 70px;
}
.password-footer-new .password-footer__text a {
	color: currentColor;
}
.password-footer-new .password-footer__text a:focus-visible {
	outline: 2px solid currentColor;
}
@media (min-width: 576px) {
	.password-footer-new .password-footer__text {
		width: auto;
	}
}
@media (min-width: 1200px) {
	.password-footer-new .password-footer__container {
		padding-top: 50px;
		padding-bottom: 100px;
		padding-left: 60px;
		padding-right: 60px;
	}
}
@media (min-width: 1920px) {
	.password-footer-new .password-footer__container {
		padding-left: 105px;
		padding-right: 105px;
	}
}