.password-content-wrapper {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.password-content-new {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
	flex-direction: column;
	max-width: 1920px;
}

.password-content-new .password-content__container {
	position: relative;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
}

.password-content-new .password-content__container.password-content__container--accent-spot::before {
	content: "";
	position: absolute;
	top: -194px;
	left: -204px;
	z-index: -1;
	width: 408px;
	height: 408px;
	background: var(--ellipse-gradient);
	pointer-events: none;
}

.password-content-new .password-content__image-wrapper {
	position: relative;
	overflow: hidden;
	z-index: 1;
	padding-top: 100%;
	border-top-right-radius: 70px;
	border-bottom-left-radius: 70px;
}

.password-content-new .password-content__image-wrapper::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-image: var(--overlay, linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%));
}

.password-content-new .password-content__image-wrapper.password-content__image-wrapper--sepia-background::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	opacity: 0.3;
	width: 100%;
	height: 100%;
	background-image: url("sepia-pattern-secondary.png");
	background-repeat: repeat;
	mix-blend-mode: overlay;
}

.password-content-new .password-content__image {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: var(--img-mob-pos);
	   object-position: var(--img-mob-pos);
}

.password-content-new .password-content__content-box-wrapper {
	position: relative;
	z-index: 1;
	width: 100%;
}

.password-content-new .password-content__content-box-wrapper.password-content__content-box-wrapper--accent-spot::before {
	content: "";
	position: absolute;
	top: -194px;
	left: -204px;
	z-index: -1;
	width: 408px;
	height: 408px;
	background: var(--ellipse-gradient);
	pointer-events: none;
}

.password-content-new .password-content__content-box {
	position: relative;
	display: flex;
	width: 100%;
	padding: 30px;
	background-color: var(--background-color, var(--color-white));
	flex-direction: column;
	gap: 20px;
	border-top-left-radius: 70px;
	border-bottom-right-radius: 70px;
}

.password-content-new .password-content__heading {
	color: var(--heading-color, var(--color-text-primary));
}

.password-content-new .password-content__description {
	color: var(--description-color, var(--color-gray));
}

.password-content-new .password-content__description a {
	color: currentColor;
}

.password-content-new .password-content__description a:focus-visible {
	outline: 2px solid currentColor;
}

.password-content-new .password-content__form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.password-content-new .password-content__form-field {
	display: flex;
	align-items: center;
	width: 100%;
}

.password-content-new .password-content__form-field .password-content__form-input[type=email] {
	margin-bottom: 0;
	border-color: var(--input-border-color);
	color: var(--input-color, var(--color-text-primary));
	box-shadow: none;
}

.password-content-new .password-content__form-field .password-content__form-input[type=email]:focus, .password-content-new .password-content__form-field .password-content__form-input[type=email]:focus-visible {
	border-color: currentColor;
	box-shadow: none;
}

@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.password-content-new .password-content__form-field .password-content__form-input[type=email]:not(:focus-visible):hover {
		border-color: currentColor;
		box-shadow: none;
	}
}

.password-content-new .password-content__form-field .password-content__form-input[type=email].error {
	border-color: var(--color-text-attention);
}

.password-content-new .password-content__form-field .password-content__form-input[type=email].error:focus, .password-content-new .password-content__form-field .password-content__form-input[type=email].error:focus-visible {
	border-color: var(--color-text-attention);
	box-shadow: none;
}

@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.password-content-new .password-content__form-field .password-content__form-input[type=email].error:hover {
		border-color: var(--color-text-attention);
		box-shadow: none;
	}
}

.password-content-new .input-wrapper .input-label.password-content__form-label {
	color: var(--input-color, var(--color-text-primary));
}

.password-content-new .password-content__form-button {
	display: inline-flex;
	align-items: center;
	-webkit-margin-end: auto;
	        margin-inline-end: auto;
	padding-top: 0;
	padding-bottom: 0;
	-webkit-padding-start: 0;
	        padding-inline-start: 0;
	-webkit-padding-end: 5px;
	        padding-inline-end: 5px;
	font-family: var(--heading-font-family);
	font-size: calc(var(--body-font-size) * 0.875);
	font-weight: 500;
	line-height: 1.5;
	text-align: start;
	color: var(--button-label-color);
	gap: 10px;
}

.password-content-new .password-content__form-button svg {
	width: 35px;
	height: auto;
	transition-duration: var(--timing-short);
	transition-property: transform;
}

.password-content-new .password-content__form-button .password-content__form-button-label {
	text-decoration: underline;
	transition-duration: var(--timing-short);
	transition-property: -webkit-text-decoration-color;
	transition-property: text-decoration-color;
	transition-property: text-decoration-color, -webkit-text-decoration-color;
}

.password-content-new .password-content__form-button:focus-visible {
	outline: 2px solid var(--button-label-color);
}

@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.password-content-new .password-content__form-button:hover .password-content__form-button-label {
		-webkit-text-decoration-color: transparent;
		        text-decoration-color: transparent;
	}
	.password-content-new .password-content__form-button:hover svg {
		transform: translateX(5px);
	}
}

.password-content-new .password-content__form-message {
	display: none;
	align-items: center;
	font-family: var(--base-font-family);
	font-size: calc(var(--body-font-size) * 0.875);
	font-weight: normal;
	text-align: start;
}

.password-content-new .password-content__form-message.password-content__form-message--error {
	color: var(--color-text-attention);
}

.password-content-new .password-content__form-message.password-content__form-message--success {
	color: var(--color-text-success);
}

.password-content-new .password-content__form-message svg {
	-webkit-margin-end: 10px;
	        margin-inline-end: 10px;
	fill: currentColor;
}

.password-content-new.is-current .password-content__form-message {
	display: flex;
}

@media (min-width: 481px) {
	.password-content-new .password-content__image {
		-o-object-position: var(--img-desktop-pos);
		   object-position: var(--img-desktop-pos);
	}
}

@media (min-width: 576px) {
	.password-content-new .password-content__container.password-content__container--with-image {
		padding: 80px 40px;
	}
	.password-content-new .password-content__container.password-content__container--accent-spot::before, .password-content-new .password-content__container.password-content__container--accent-spot::after {
		content: "";
		position: absolute;
		z-index: -1;
		width: 600px;
		height: 600px;
		background: var(--ellipse-gradient);
		pointer-events: none;
	}
	.password-content-new .password-content__container.password-content__container--accent-spot::before {
		top: -300px;
		left: -300px;
	}
	.password-content-new .password-content__container.password-content__container--accent-spot::after {
		bottom: -300px;
		right: -300px;
	}
	.password-content-new .password-content__image-wrapper {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		padding-top: unset;
	}
	.password-content-new .password-content__image-wrapper::after {
		content: "";
	}
	.password-content-new .password-content__content-box-wrapper {
		margin: 0 auto;
		max-width: 550px;
	}
	.password-content-new .password-content__content-box-wrapper.password-content__content-box-wrapper--accent-spot::before {
		content: "";
		position: absolute;
		top: -201px;
		left: -330px;
		z-index: -1;
		width: 600px;
		height: 600px;
		background: var(--ellipse-gradient);
		pointer-events: none;
	}
}

@media (min-width: 768px) {
	.password-content-new .password-content__image-wrapper {
		border-top-right-radius: 150px;
		border-bottom-left-radius: 150px;
	}
}

@media (min-width: 992px) {
	.password-content-new .password-content__content-box {
		padding: 40px;
	}
	.password-content-new .password-content__heading {
		margin-bottom: 10px;
	}
	.password-content-new .password-content__form-button {
		margin-top: 10px;
		font-size: var(--body-font-size);
		gap: 15px;
	}
}

@media (min-width: 1200px) {
	.password-content-new {
		padding-left: 60px;
		padding-right: 60px;
	}
	.password-content-new .password-content__container.password-content__container--with-image {
		padding-top: 160px;
		padding-bottom: 160px;
	}
}

@media (min-width: 1501px) {
	.password-content-new .password-content__image-wrapper {
		border-top-right-radius: 300px;
		border-bottom-left-radius: 300px;
	}
}

@media (min-width: 1920px) {
	.password-content-new {
		padding-left: 105px;
		padding-right: 105px;
	}
	.password-content-new .password-content__container.password-content__container--with-image {
		padding-top: 290px;
		padding-bottom: 290px;
	}
}

html.no-js .password-content-new .password-content__form-message {
	display: flex;
}