.password-header-new {
	color: var(--section-text_color, var(--color-text-primary));
}
.password-header-new .password-header__container {
	position: relative;
	z-index: 2;
	width: 100%;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
	max-width: 1920px;
}
.password-header-new .password-header__col {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding-top: 50px;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--section-border-color);
}
.password-header-new .password-header__row {
	max-width: -moz-fit-content;
	max-width: fit-content;
}
.password-header-new .password-header__logo-wrapper {
	text-transform: uppercase;
	word-break: break-word;
}
.password-header-new .password-header__logo {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: var(--img-desktop-pos);
	   object-position: var(--img-desktop-pos);
}
.password-header-new .password-header__logo-header.h2 {
	display: block;
	font-family: var(--heading-font-family);
	font-size: calc(var(--heading-font-size) * 1.125);
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	color: var(--section-text_color, var(--color-text-primary));
}
.password-header-new .password-header__message {
	font-family: var(--heading-font-family);
	font-size: calc(var(--body-font-size) * 0.875);
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	color: var(--section-text_color, var(--color-text-primary));
}
.password-header-new .password-header__button {
	opacity: 1;
	font-family: var(--heading-font-family);
	font-size: calc(var(--body-font-size) * 0.875);
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	text-decoration: underline;
	color: var(--section-text_color, var(--color-text-primary));
	transition-property: opacity;
	transition-timing-function: ease;
	transition-duration: 0.3s;
}
.password-header-new .password-header__button:focus-visible {
	outline: 2px solid currentColor;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.password-header-new .password-header__button:hover {
		opacity: 0.5;
	}
}
@media (min-width: 768px) {
	.password-header-new .password-header__logo-header.h2 {
		font-size: calc(var(--heading-font-size) * 1.25);
	}
}
@media (min-width: 1200px) {
	.password-header-new .password-header__container {
		margin-bottom: 50px;
		padding-left: 60px;
		padding-right: 60px;
	}
	.password-header-new .password-header__col {
		padding-bottom: 40px;
		gap: 20px;
	}
	.password-header-new .password-header__logo-header.h2 {
		font-size: calc(var(--heading-font-size) * 1.5);
		line-height: 1.3;
	}
	.password-header-new .password-header__message {
		font-size: var(--heading-font-size);
	}
	.password-header-new .password-header__button {
		font-size: var(--heading-font-size);
	}
}
@media (min-width: 1920px) {
	.password-header-new .password-header__container {
		margin-bottom: 100px;
		padding-left: 105px;
		padding-right: 105px;
	}
}
.password-popup-new {
	top: 50%;
	left: 50%;
	overflow: hidden;
	width: calc(100% - 32px);
	border: 1px solid var(--popup-border-color, var(--color-border-secondary));
	background-color: var(--popup-background-color, var(--color-background));
	color: var(--popup-text-color, var(--color-text-primary));
	transform: translate(-50%, -50%);
	flex-direction: column;
	max-width: 550px;
	max-height: calc(100% - 32px);
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
}
.password-popup-new .password__header {
	display: flex;
	align-items: flex-start;
	padding: 0;
}
.password-popup-new .password-popup__close {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	width: 32px;
	height: 32px;
	margin-top: 8px;
	-webkit-margin-start: auto;
	        margin-inline-start: auto;
	-webkit-margin-end: 8px;
	        margin-inline-end: 8px;
	padding: 0;
	color: inherit;
	transition-property: opacity;
	transition-timing-function: ease;
	transition-duration: 0.3s;
}
.password-popup-new .password-popup__close svg {
	width: 16px;
	height: 16px;
}
.password-popup-new .password-popup__close:focus-visible {
	outline: 2px solid currentColor;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.password-popup-new .password-popup__close:hover {
		opacity: 0.5;
	}
}
.password-popup-new .password-popup__body {
	width: 100%;
	padding-top: 0;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
}
.password-popup-new .password-popup__heading {
	font-size: calc(var(--heading-font-size) * 1.125);
	font-weight: 500;
	line-height: 1.5;
	text-align: start;
	color: inherit;
}
.password-popup-new .password-popup__form-content {
	display: flex;
	padding-top: 10px;
	flex-direction: column;
	gap: 20px;
}
.password-popup-new .password-popup__field {
	width: 100%;
}
.password-popup-new .password-popup__input[type=password] {
	margin: 0;
	border-color: var(--popup-input-border-color);
	color: var(--popup-input-color, var(--color-text-primary));
	box-shadow: none;
}
.password-popup-new .password-popup__input[type=password]:focus, .password-popup-new .password-popup__input[type=password]:focus-visible {
	border-color: currentColor;
	box-shadow: none;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.password-popup-new .password-popup__input[type=password]:not(:focus-visible):hover {
		border-color: currentColor;
		box-shadow: none;
	}
}
.password-popup-new .password-popup__input[type=password].error {
	border-color: var(--color-text-attention);
}
.password-popup-new .password-popup__input[type=password].error:focus, .password-popup-new .password-popup__input[type=password].error:focus-visible {
	border-color: var(--color-text-attention);
	box-shadow: none;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.password-popup-new .password-popup__input[type=password].error:hover {
		border-color: var(--color-text-attention);
		box-shadow: none;
	}
}
.password-popup-new .input-wrapper .input-label.password-popup__label {
	color: var(--popup-input-color, var(--color-text-primary));
}
.password-popup-new .password-popup__button {
	display: inline-flex;
	align-items: center;
	-webkit-margin-end: auto;
	        margin-inline-end: auto;
	padding-top: 0;
	padding-bottom: 0;
	-webkit-padding-start: 0;
	        padding-inline-start: 0;
	-webkit-padding-end: 5px;
	        padding-inline-end: 5px;
	font-family: var(--heading-font-family);
	font-size: calc(var(--body-font-size) * 0.875);
	font-weight: 500;
	line-height: 1.5;
	text-align: start;
	color: var(--popup-button-color);
	gap: 10px;
}
.password-popup-new .password-popup__button svg {
	width: 35px;
	height: auto;
	transition-duration: var(--timing-short);
	transition-property: transform;
}
.password-popup-new .password-popup__button .password-popup__button-label {
	text-decoration: underline;
	transition-duration: var(--timing-short);
	transition-property: -webkit-text-decoration-color;
	transition-property: text-decoration-color;
	transition-property: text-decoration-color, -webkit-text-decoration-color;
}
.password-popup-new .password-popup__button:focus-visible {
	outline: 2px solid var(--popup-button-color);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.password-popup-new .password-popup__button:hover .password-popup__button-label {
		-webkit-text-decoration-color: transparent;
		        text-decoration-color: transparent;
	}
	.password-popup-new .password-popup__button:hover svg {
		transform: translateX(5px);
	}
}
.password-popup-new .password-popup__submitted-title {
	display: block;
	padding-top: 16px;
}
.password-popup-new .password-popup__description {
	padding-top: 16px;
}
.password-popup-new .password-popup__description strong {
	font-weight: 500;
}
.password-popup-new .password-popup__description a {
	color: currentColor;
}
.password-popup-new .password-popup__description a:focus-visible {
	outline-color: currentColor;
}
@media (min-width: 992px) {
	.password-popup-new {
		width: calc(100% - 40px);
	}
	.password-popup-new .password-popup__body {
		padding-left: 40px;
		padding-right: 40px;
	}
	.password-popup-new .password-popup__heading {
		font-size: calc(var(--heading-font-size) * 1.5);
	}
	.password-popup-new .password-popup__form-content {
		padding-top: 15px;
	}
	.password-popup-new .password-popup__button {
		font-size: var(--body-font-size);
		gap: 15px;
	}
	.password-popup-new .password-popup__submitted-title {
		padding-top: 20px;
	}
	.password-popup-new .password-popup__description {
		padding-top: 30px;
	}
}