.product-promo {
	position: fixed;
	bottom: 0;
	inset-inline-start: 20px;
	z-index: 12;
	background-color: var(--background-color, var(--color-black));
	color: var(--text-color, var(--color-white));
	animation-name: fadeInBottom;
	animation-duration: 0.5s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
}
.product-promo .product-promo__close {
	position: absolute;
	top: 5px;
	inset-inline-end: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	width: 44px;
	height: 44px;
	padding: 0;
	color: inherit;
	transition-property: opacity;
	transition-timing-function: ease;
	transition-duration: 0.3s;
}
.product-promo .product-promo__close:focus-visible {
	outline-color: var(--text-color, var(--color-white));
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.product-promo .product-promo__close:hover {
		opacity: 0.5;
	}
}
.product-promo .product-promo__heading {
	word-break: break-word;
	opacity: 1;
	color: inherit;
}
.product-promo .product-promo__description {
	word-break: break-word;
}
.product-promo .product-promo__media {
	position: relative;
}
.product-promo .product-promo__image-container {
	position: relative;
	width: 150px;
	height: 100%;
	min-height: 150px;
}
.product-promo .product-promo__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: var(--img-desktop-pos);
	   object-position: var(--img-desktop-pos);
}
.product-promo .product-promo__meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 10px;
}
.product-promo .product-promo__title {
	text-decoration: none;
	color: var(--text-color, var(--color-white));
}
.product-promo .product-promo__title-text {
	overflow: hidden;
	display: -moz-box;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.product-promo .product-promo__link {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.product-promo .product-promo__quick-view-button {
	padding: 10px 15px;
	border: 1px solid var(--button-border-color, #ffffff);
	background-color: var(--button-background-color, #000000);
	color: var(--button-label-color, #ffffff);
	min-width: unset;
	transition-property: background-color, color, border-color;
	transition-duration: var(--timing-short);
}
.product-promo .product-promo__quick-view-button:focus-visible {
	outline-color: var(--text-color, var(--color-white));
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.product-promo .product-promo__quick-view-button:hover {
		border: 1px solid var(--button-border-hover-color, #ffffff);
		background-color: var(--button-background-hover-color, #000000);
		color: var(--button-label-hover-color, #ffffff);
	}
}
.product-promo.product-promo--shadow {
	box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.5607843137);
}
.product-promo.product-promo--product {
	display: flex;
	width: 100%;
	max-width: 500px;
}
.product-promo.product-promo--product .product-promo__close {
	top: 0;
	inset-inline-end: 0;
}
.product-promo.product-promo--product .product-promo__content {
	display: flex;
	align-items: flex-start;
	width: 100%;
	padding: 30px;
	flex-direction: column;
	gap: 30px;
}
.product-promo.product-promo--product .price.price--on-sale .price__sale {
	display: flex;
	flex-direction: column;
}
.product-promo.product-promo--product .price .price-item {
	margin: 0;
}
.product-promo.product-promo--text .product-promo__content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	row-gap: 16px;
	padding: 40px;
	color: inherit;
	max-width: min(240px, 100vw - 40px);
	transition-property: opacity;
	transition-timing-function: ease;
	transition-duration: 0.3s;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.product-promo.product-promo--text .product-promo__content:hover {
		opacity: 0.5;
	}
}
.product-promo.product-promo--bordered {
	border: 1px solid var(--border-color, var(--color-white));
}
@media (max-width: 575.98px) {
	.product-promo.product-promo--product {
		inset-inline-start: 10px;
		max-width: 460px;
	}
}
@media (max-width: 480.98px) {
	.product-promo.product-promo--product {
		width: calc(100% - 20px);
	}
	.product-promo.product-promo--product .product-promo__content {
		padding: 30px 20px;
		gap: 20px;
	}
	.product-promo .product-promo__meta {
		flex-direction: column;
		align-items: flex-start;
	}
	.product-promo .product-promo__image-container {
		width: 120px;
	}
}
.template-search .product-promo,
.template-collection .product-promo {
	bottom: 50px;
	animation-name: fadeInBottomHigh;
}
@media (min-width: 768px) {
	.template-search .product-promo,
	.template-collection .product-promo {
		bottom: 0;
		animation-name: fadeInBottom;
	}
}