.complementary-products {
	margin-top: 20px;
	margin-bottom: 20px;
}
.complementary-products .complementary-products__header {
	display: flex;
	margin-bottom: 20px;
}
.complementary-products .complementary-products__heading {
	font-size: 20px;
}
.complementary-products .complementary-products-content-slider {
	margin-left: -20px;
	margin-right: -20px;
	-webkit-padding-end: 1px;
	        padding-inline-end: 1px;
}
.complementary-products .complementary-products-container {
	padding-top: 20px;
	padding-bottom: 20px;
}
.complementary-products .complementary-products__slider-wrapper,
.complementary-products .complementary-products__slider-wrapper.swiper-wrapper {
	display: flex;
	align-items: stretch;
}
.complementary-products .complementary-products__slider-slide {
	width: 50%;
	height: auto;
	min-height: 100%;
}
.complementary-products .complementary-products__controls {
	position: relative;
	display: flex;
	flex-shrink: 0;
	-webkit-margin-start: auto;
	        margin-inline-start: auto;
}
.complementary-products .complementary-products__control {
	position: static;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 26px;
	height: 26px;
	margin: 0;
	padding: 0;
	border: 1px solid var(--color-text-primary, #000000);
	border-radius: 50%;
	color: var(--color-text-primary, #000000);
	transition-property: opacity;
	transition-duration: var(--timing-short);
	transition-timing-function: var(--easing-linear);
	transform: unset;
}
.complementary-products .complementary-products__control + .complementary-products__control {
	-webkit-margin-start: 6px;
	        margin-inline-start: 6px;
}
.complementary-products .complementary-products__control::after {
	content: unset;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.complementary-products .complementary-products__control:hover:hover {
		opacity: 0.5;
	}
}
@media (min-width: 1200px) {
	.complementary-products .complementary-products-content-slider {
		margin: 0;
	}
}