.product-filters-new .product-filters__open-menu-button-wrapper {
	display: flex;
	align-items: center;
}
.product-filters-new .product-filters__title {
	display: none;
	max-width: 200px;
	-webkit-margin-end: 20px;
	        margin-inline-end: 20px;
	font-family: var(--heading-font-family);
	font-weight: 500;
	line-height: 1.5;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	        hyphens: auto;
	color: var(--color-text-secondary, #000000);
}
.product-filters-new .product-filters__title.with-margin {
	-webkit-margin-end: 70px;
	        margin-inline-end: 70px;
}
.product-filters-new .product-filters__open-menu-button {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: var(--layer-sticky-btn, 7);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 20px 14px;
	background-color: var(--color-text-secondary);
	color: var(--color-background);
	-webkit-tap-highlight-color: transparent;
}
.product-filters-new .product-filters__open-menu-button svg {
	-webkit-margin-start: 15px;
	        margin-inline-start: 15px;
	pointer-events: none;
}
.product-filters-new .product-filters__open-menu-button-text {
	max-width: 200px;
	font-family: var(--heading-font-family);
	font-weight: 500;
	line-height: 1.5;
	text-transform: none;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	        hyphens: auto;
	color: var(--color-background, #ffffff);
}
.product-filters-new .product-filters__open-menu-button-counter {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 18px;
	height: 18px;
	-webkit-margin-start: 10px;
	        margin-inline-start: 10px;
	border-radius: 100%;
	background-color: var(--color-text-attention);
	font-size: calc(var(--body-font-size) * 0.625);
	font-weight: 600;
	line-height: 1.4;
	color: var(--color-background, #ffffff);
}
.product-filters-new .product-filters__open-menu-button-counter.is-hidden {
	display: none;
}
.product-filters-new .product-filters__form {
	overflow: auto;
}
.product-filters-new .product-filters__form::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: var(--layer-pop-out-overlay-loader, 26);
	visibility: hidden;
	opacity: 0;
	height: 2px;
	background-color: var(--color-text-primary);
}
.product-filters-new .product-filters__form.is-loading::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: var(--layer-pop-out-overlay, 25);
	opacity: 0.5;
	background-color: #fff;
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	speak: never;
}
.product-filters-new .product-filters__form.is-loading::before {
	visibility: visible;
	opacity: 1;
	animation: progress 1s infinite linear;
}
.product-filters-new .product-filters__form-body {
	padding-top: 13px;
	padding-bottom: 50px;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: none;
}
.product-filters-new .product-filters__form-selected-wrapper.is-hidden {
	display: none;
}
.product-filters-new .product-filters__form-label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 19px;
	font-size: var(--body-font-size);
	font-weight: 500;
	line-height: 1.5;
	text-transform: capitalize;
	color: var(--color-text-secondary);
	word-break: break-word;
	-webkit-hyphens: auto;
	        hyphens: auto;
}
.product-filters-new .product-filters__form-label span {
	font-weight: 400;
	color: var(--color-text-primary);
}
.product-filters-new .product-filters__form-selected {
	margin-bottom: 20px;
}
.product-filters-new .product-filters__form-selected-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.product-filters-new .product-filters__form-selected-button-clear {
	text-transform: capitalize;
	transition-property: opacity;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.product-filters-new .product-filters__form-selected-button-clear:hover {
		opacity: 0.7;
	}
}
.product-filters-new .product-filters__form-selected-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 7px 20px;
	border: 1px solid var(--color-border-secondary);
	font-size: calc(var(--body-font-size) * 0.875);
	line-height: 1.5;
	text-decoration: none;
	color: var(--color-text-primary);
	border-radius: 50px;
	word-break: break-word;
	transition-property: color, background-color;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}
.product-filters-new .product-filters__form-selected-button svg {
	flex-shrink: 0;
	min-width: 15px;
	width: 15px;
	height: 15px;
	-webkit-margin-start: 8px;
	        margin-inline-start: 8px;
	color: var(--color-text-secondary);
	transition-property: fill;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.product-filters-new .product-filters__form-selected-button:hover {
		background-color: var(--color-text-primary);
		color: var(--color-background);
	}
	.product-filters-new .product-filters__form-selected-button:hover svg {
		color: var(--color-background);
	}
}
.product-filters-new .product-filters__form-accordion {
	border-top: 1px solid var(--color-border-secondary);
}
.product-filters-new .product-filters__form-item {
	border-bottom: 1px solid var(--color-border-secondary);
}
.product-filters-new .product-filters__form-item-toggle-button {
	padding: 20px 0;
	font-size: var(--body-font-size);
	font-weight: 500;
	line-height: 1.5;
	color: var(--color-text-secondary, #000000);
	-webkit-tap-highlight-color: transparent;
}
.product-filters-new .product-filters__form-item-toggle-button svg {
	width: 14px;
	height: 14px;
}
.product-filters-new .product-filters__form-sort .product-filters__form-label {
	padding-bottom: 15px;
}
.product-filters-new .product-filters__form-sort .sort__select option {
	background-color: var(--color-popup-background);
}
.product-filters-new * + .product-filters__form-sort {
	margin-top: 20px;
}
.product-filters-new .product-filters__form-helptext {
	display: block;
	margin-bottom: 16px;
	font-size: calc(var(--body-font-size) * 0.875);
	color: var(--color-text-secondary);
}
.no-transition .product-filters-new.product-filters--sidebar .drawer {
	transition: none;
}
@keyframes progress {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
@media (max-width: 1199.98px) {
	.product-filters-new .product-filters__form-label {
		font-size: calc(var(--body-font-size) * 0.875);
	}
	.product-filters-new .product-filters__form-label span {
		line-height: 1.5;
	}
	.product-filters-new .product-filters__form-sort .product-filters__form-label {
		padding-bottom: 20px;
	}
	.product-filters-new .product-filters__form-selected-button {
		padding: 8px 15px 6px;
	}
	.product-filters-new .product-filters__form-selected-button-clear {
		font-size: calc(var(--body-font-size) * 0.875);
	}
	.product-filters-new .product-filters__form-item-toggle-button {
		font-size: calc(var(--body-font-size) * 0.875);
	}
	.product-filters-new .product-filters__form-item-toggle-button svg {
		width: 17px;
		height: 17px;
	}
	.product-filters-new .drawer {
		max-width: 405px;
	}
}
@media (min-width: 768px) {
	.product-filters-new:not(.product-filters--sidebar) .product-filters__title {
		display: block;
	}
	.product-filters-new:not(.product-filters--sidebar) .product-filters__open-menu-button-wrapper {
		min-height: 50px;
	}
	.product-filters-new:not(.product-filters--sidebar) .product-filters__open-menu-button {
		position: relative;
		bottom: unset;
		left: unset;
		width: 50px;
		height: 50px;
		min-height: unset;
		padding: 11px;
		border-radius: 100%;
		transition-property: top;
		transition-duration: 0.3s;
		transition-timing-function: ease;
	}
	.product-filters-new:not(.product-filters--sidebar) .product-filters__open-menu-button:not([data-count="0"])::after {
		content: attr(data-count);
		position: absolute;
		top: -5px;
		right: -5px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 18px;
		height: 18px;
		background-color: var(--color-secondary-attention);
		font-size: calc(var(--body-font-size) * 0.625);
		font-weight: 600;
		line-height: 1.4;
		color: var(--color-background, #ffffff);
		border-radius: 100%;
	}
	.product-filters-new:not(.product-filters--sidebar) .product-filters__open-menu-button.is-fixed {
		position: fixed;
		top: calc(var(--header-height) + var(--header-offset-top) + 20px);
		right: 16px;
	}
	.product-filters-new:not(.product-filters--sidebar) .product-filters__open-menu-button svg {
		-webkit-margin-start: 0;
		        margin-inline-start: 0;
	}
	.product-filters-new:not(.product-filters--sidebar) .product-filters__open-menu-button-text,
	.product-filters-new:not(.product-filters--sidebar) .product-filters__open-menu-button-counter {
		display: none;
		font-family: var(--heading-font-family);
		font-weight: 500;
		line-height: 1.5;
		text-transform: none;
	}
	.product-filters-new .product-filters__form-selected-button {
		font-size: var(--body-font-size);
	}
}
@media (min-width: 992px) {
	.product-filters-new:not(.product-filters--sidebar) .product-filters__open-menu-button.is-fixed {
		right: 40px;
	}
}
@media (min-width: 1200px) {
	.product-filters-new.product-filters--sidebar {
		position: sticky;
		top: calc(var(--header-height) + 30px);
		overflow: hidden auto;
		max-height: calc(100vh - (var(--header-height) + 30px));
		-webkit-margin-start: -7px;
		        margin-inline-start: -7px;
		-webkit-margin-end: -4px;
		        margin-inline-end: -4px;
		-webkit-padding-start: 7px;
		        padding-inline-start: 7px;
		-webkit-padding-end: 4px;
		        padding-inline-end: 4px;
	}
	.product-filters-new.product-filters--sidebar .product-filters__open-menu-button-wrapper {
		display: none;
	}
	.product-filters-new.product-filters--sidebar .product-filters__form {
		overflow: unset;
	}
	.product-filters-new.product-filters--sidebar .product-filters__form::before {
		display: none;
	}
	.product-filters-new.product-filters--sidebar .product-filters__form.is-loading::after {
		background-color: var(--color-background);
	}
	.product-filters-new.product-filters--sidebar .product-filters__form-header {
		padding: 0;
	}
	.product-filters-new.product-filters--sidebar .product-filters__form-body {
		overflow: unset;
		padding-top: 20px;
		padding-bottom: 5px;
		-webkit-padding-start: 0;
		        padding-inline-start: 0;
		-webkit-padding-end: 2px;
		        padding-inline-end: 2px;
	}
	.product-filters-new.product-filters--sidebar .drawer {
		position: static;
		visibility: visible;
		background-color: transparent;
		transform: none;
	}
	.product-filters-new.product-filters--sidebar .drawer .drawer__close {
		display: none;
	}
	.product-filters-new.product-filters--sidebar .sort__select option {
		background-color: var(--color-background);
	}
	.product-filters-new.product-filters--sidebar .filter-list {
		max-height: 495px;
		overflow-y: auto;
	}
	.product-filters-new:not(.product-filters--sidebar) .product-filters__open-menu-button.is-fixed {
		right: 60px;
	}
}
@media (min-width: 1501px) {
	.product-filters-new:not(.product-filters--sidebar) .product-filters__open-menu-button.is-fixed {
		right: 80px;
	}
}
@media (min-width: 1920px) {
	.product-filters-new:not(.product-filters--sidebar) .product-filters__open-menu-button.is-fixed {
		right: 105px;
	}
}