.promotion-banner {
	position: fixed;
	left: 50%;
	z-index: 12;
	display: none;
	width: 100%;
	max-width: 280px;
	background-color: var(--banner-bg);
	color: var(--button-text-color);
	transform: translateX(-50%);
}
.promotion-banner.promotion-banner--shadow {
	box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.5607843137);
}
.promotion-banner .promotion-banner__inner {
	display: block;
}
.promotion-banner .promotion-banner__image {
	display: inline-block;
	width: 100%;
	height: 170px;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: var(--img-desktop-pos);
	   object-position: var(--img-desktop-pos);
	vertical-align: middle;
	min-height: auto;
}
.promotion-banner .promotion-banner__content {
	align-self: center;
	width: 280px;
	padding: 15px;
	text-align: center;
	word-break: break-word;
}
.promotion-banner .promotion-banner__title {
	margin-bottom: 10px;
	font-size: 24px;
	color: var(--button-text-color);
}
.promotion-banner .promotion-banner__button {
	display: inline-block;
	margin-top: 15px;
	padding: 10px 15px;
	border: 1px solid var(--button-border-color);
	background-color: var(--button-bg);
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--button-color);
	transition-property: color, background-color, border-color;
	transition-duration: var(--timing-base);
}
.promotion-banner .promotion-banner__button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
}
.promotion-banner .promotion-banner__button:focus-visible {
	outline: 2px solid currentColor;
	outline-offset: 2px;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.promotion-banner .promotion-banner__button:hover {
		border-color: var(--button-border-color-hover);
		background-color: var(--button-bg-hover);
		color: var(--button-color-hover);
	}
}
.promotion-banner .promotion-banner__link-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	transition-property: background-color;
	transition-duration: var(--timing-base);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.promotion-banner .promotion-banner__link-wrapper:hover {
		background-color: rgba(255, 255, 255, 0.2);
	}
}
.promotion-banner .promotion-banner__close-button {
	position: absolute;
	top: 2px;
	right: 2px;
	z-index: 3;
	width: 44px;
	height: 44px;
	padding: 0;
	background-color: var(--banner-bg);
	text-decoration: none;
	color: inherit;
	transition-property: opacity;
	transition-duration: var(--timing-base);
}
.promotion-banner .promotion-banner__close-button svg {
	width: 14px;
	height: 14px;
}
.promotion-banner .promotion-banner__close-button:focus-visible {
	outline: 2px solid #fff;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.promotion-banner .promotion-banner__close-button:hover {
		opacity: 0.5;
	}
}
.promotion-banner.promotion-banner--no-image {
	max-width: -moz-max-content;
	max-width: max-content;
}
.promotion-banner.is-active {
	display: block;
	animation-name: promoBannerShow;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
@media (min-width: 768px) {
	.promotion-banner {
		max-width: 480px;
	}
	.promotion-banner .promotion-banner__inner {
		display: flex;
	}
	.promotion-banner .promotion-banner__content {
		padding: 20px;
	}
	.promotion-banner .promotion-banner__image {
		width: 200px;
		min-height: 200px;
	}
	.promotion-banner .promotion-banner__close-button {
		background-color: transparent;
	}
}
@keyframes promoBannerShow {
	0% {
		bottom: 0;
		visibility: hidden;
		opacity: 0;
	}
	100% {
		bottom: 25px;
		visibility: visible;
		opacity: 1;
	}
}
.promotion-products-popup {
	position: fixed;
	top: 50%;
	left: 50%;
	flex-direction: column;
	width: calc(100% - 40px);
	max-width: 1200px;
	max-height: calc(100% - 40px);
	padding: 0;
	background-color: #fff;
	transform: translate(-50%, -50%);
}
.promotion-products-popup .modal__header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 55px;
	padding: 0 20px;
}
.promotion-products-popup .modal__body {
	width: 100%;
	padding: 10px;
	padding-bottom: 30px;
}
.promotion-products-popup .promotion-products-popup__close-button {
	position: absolute;
	top: 50%;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	padding: 0;
	color: #000;
	transform: translateY(-50%);
}
.promotion-products-popup .promotion-products-popup__container {
	display: none;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: auto;
	gap: 10px;
}
.promotion-products-popup .promotion-products-popup__product-col {
	width: calc(50% - 5px);
}
.promotion-products-popup .promotion-products-popup__button-wrapper {
	margin-top: 25px;
	text-align: center;
}
.promotion-products-popup.is-loaded-once .promotion-products-popup__container {
	display: flex;
}
@media (min-width: 992px) {
	.promotion-products-popup .promotion-products-popup__product-col {
		width: calc(25% - 7.5px);
	}
}