.reviews-new {
	opacity: 0;
}
.reviews-new.animated {
	opacity: 1;
	transition-property: opacity;
	transition-duration: var(--animate-time);
}
.reviews-new.animated .reviews-new__container.swiper-initialized {
	opacity: 1;
}
.reviews-new .swiper-wrapper {
	cursor: grab;
}
.reviews-new .swiper-pagination {
	position: initial;
	margin-top: 17px;
}
.reviews-new .reviews-new__heading-wrapper {
	display: flex;
	flex-direction: column;
	max-width: calc(var(--global-container-width) + 32px);
	margin: 0 auto 40px;
	padding: 0 16px;
}
.reviews-new .reviews-new__container {
	opacity: 0;
	padding: 0 16px;
	transition-property: opacity;
	transition-duration: 0.4s;
}
.reviews-new .reviews-new__item {
	display: flex;
	width: 100%;
	-webkit-margin-end: -100px;
	        margin-inline-end: -100px;
	padding: 30px 20px 20px;
	border: 1px solid var(--color-border-thirdly);
	flex-direction: column;
	border-radius: 0 90px;
}
.reviews-new .reviews-new__slide {
	display: flex;
	align-self: stretch;
	height: auto;
}
.reviews-new .reviews-new__slide:focus-visible {
	outline: 2px solid var(--button-border-color-primary);
	outline-offset: 1px;
}
.reviews-new .reviews-new__slide.swiper-slide-active .reviews-new__item {
	border: none;
	background-color: var(--color-slide-background);
}
.reviews-new .reviews-new__item-author-image-container {
	position: relative;
	overflow: hidden;
	align-self: flex-start;
	width: 50px;
	border-radius: 100%;
}
.reviews-new .reviews-new__item-author-image-container::before {
	content: "";
	display: block;
	padding-top: 100%;
}
.reviews-new .reviews-new__item-product-link .reviews-new__overlay::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	opacity: 0;
	width: 100%;
	height: 100%;
	background: var(--color-overlay);
	transition-property: opacity;
	transition-duration: 0.4s;
}
.reviews-new .reviews-new__item-product-link .reviews-new__overlay .reviews-new__overlay-text {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: calc(var(--body-font-size) * 0.875);
	text-decoration: underline;
	color: transparent;
	transition-property: color;
	transition-duration: 0.4s;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.reviews-new .reviews-new__item-product-link:hover .reviews-new__overlay::after {
		opacity: 0.55;
	}
	.reviews-new .reviews-new__item-product-link:hover .reviews-new__overlay .reviews-new__overlay-text {
		color: var(--image-link-label-color);
	}
}
.reviews-new .reviews-new__item-author-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.reviews-new .reviews-new__item-stars {
	margin-bottom: 10px;
}
.reviews-new .reviews-new__item-title-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 15px;
	gap: 10px;
}
.reviews-new .reviews-new__price {
	font-size: calc(var(--body-font-size) * 0.875);
	font-weight: 600;
}
.reviews-new .reviews-new__item-text {
	margin-bottom: 20px;
	font-size: calc(var(--body-font-size) * 0.875);
	color: var(--color-text-secondary);
}
.reviews-new .reviews-new__item-image-wrapper {
	position: relative;
	overflow: hidden;
	align-self: center;
	width: 100%;
	height: -moz-fit-content;
	height: fit-content;
	margin-top: auto;
	border-radius: 0 70px;
}
.reviews-new .reviews-new__item-image-wrapper::before {
	content: "";
	display: block;
	padding-top: 100%;
}
.reviews-new .reviews-new__item-image-wrapper.reviews-new__item-image-wrapper--desktop {
	display: none;
}
.reviews-new .reviews-new__item-image-wrapper.reviews-new__item-image-wrapper--mobile {
	display: block;
}
.reviews-new .reviews-new__item-image {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: var(--img-desktop-pos);
	   object-position: var(--img-desktop-pos);
}
.reviews-new .reviews-new__author-info-wrapper {
	display: flex;
	gap: 20px;
	margin-bottom: 30px;
}
.reviews-new .reviews-new__author-info {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	word-break: break-word;
}
.reviews-new .reviews-new__item-author-name {
	font-size: calc(var(--body-font-size) * 0.875);
	line-height: 1.5;
	color: var(--color-text-secondary);
}
.reviews-new .reviews-new__item-additional-info {
	font-size: calc(var(--body-font-size) * 0.75);
	line-height: 1.5;
	color: var(--color-text-thirdly, #8b8885);
}
@media (min-width: 1200px) {
	.reviews-new .swiper-pagination {
		margin-top: 35px;
	}
	.reviews-new .reviews-new__container {
		padding: 0;
	}
	.reviews-new .reviews-new__price {
		font-size: var(--body-font-size);
	}
	.reviews-new .reviews-new__heading-wrapper {
		max-width: calc(var(--global-container-width) + 120px);
		padding: 0 60px;
	}
	.reviews-new .reviews-new__item-author-name {
		font-size: var(--body-font-size);
	}
	.reviews-new .reviews-new__item-additional-info {
		font-size: calc(var(--body-font-size) * 0.875);
	}
	.reviews-new .reviews-new__item-author-image-container {
		width: 60px;
	}
	.reviews-new .reviews-new__item-text {
		font-size: var(--body-font-size);
	}
	.reviews-new .reviews-new__item-title-wrapper {
		flex-direction: row;
		align-items: center;
	}
	.reviews-new .reviews-new__item-title-wrapper .reviews-new__heading {
		font-size: calc(var(--body-font-size) * 1.5);
	}
	.reviews-new .reviews-new__item-image-wrapper {
		margin: 22px 0;
		border-radius: 450px;
		max-width: 230px;
	}
	.reviews-new .reviews-new__item-image-wrapper::before {
		padding-top: 155.22%;
	}
	.reviews-new .reviews-new__item-image-wrapper.reviews-new__item-image-wrapper--desktop {
		display: block;
	}
	.reviews-new .reviews-new__item-image-wrapper.reviews-new__item-image-wrapper--mobile {
		display: none;
	}
	.reviews-new .reviews-new__item {
		padding: 75px 40px;
		-webkit-padding-end: 130px;
		        padding-inline-end: 130px;
	}
	.reviews-new .reviews-new__author-info-wrapper {
		margin-bottom: 0;
	}
}
@media (min-width: 1920px) {
	.reviews-new .reviews-new__heading-wrapper {
		max-width: calc(var(--global-container-width) + 210px);
		padding: 0 105px;
	}
}