/**
	Timings
 */
:root {
	--timing-micro: 0.1s;
	--timing-short: 0.2s;
	--timing-base: 0.4s;
	--timing-long: 0.7s;
	--timing-second: 1s;
	--animate-time: 0.7s;
	--animate-delay: 0.3s;
	--animate-img-scale: 0.5s;
	/**
	* Easing.
	*/
	--easing-linear: cubic-bezier(0, 0, 1, 1);
	--easing-ease: cubic-bezier(0.25, 0.1, 0.25, 1);
	--easing-ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
	--easing-ease-in: cubic-bezier(0.42, 0, 1, 1);
	--easing-ease-out: cubic-bezier(0, 0, 0.09, 1);
	/**
	* Config: Layers
	* -----------------------------------------------------------------------------
	* Visual motif used to create groupings, content associations and focus through depth.
	*/
	--layer-negative: -1;
	--layer-base: 0;
	--layer-flat: 1;
	--layer-raised: 2;
	--layer-sticky-btn: 7;
	--layer-sticky: 11;
	--layer-overlay: 14;
	--layer-temporary: 16;
	--layer-pop-out: 24;
	--layer-pop-out-overlay: 25;
	--layer-pop-out-overlay-loader: 26;
}
.shop-the-look .shop-the-look__subtitle {
	margin-bottom: 0.8em;
	padding: 0 20px;
	font-size: 14px;
	text-align: center;
}
.shop-the-look .shop-the-look__title {
	margin-bottom: 30px;
	padding: 0 20px;
	text-align: center;
}
.shop-the-look .shop-the-look__container {
	overflow: hidden;
	display: flex;
	width: 100%;
	margin: 0 auto;
	flex-direction: column;
	max-width: 1920px;
}
.shop-the-look .shop-the-look__products.swiper-wrapper {
	align-items: unset;
}
.shop-the-look .shop-the-look__product {
	width: 100%;
	height: auto;
}
.shop-the-look .shop-the-look__products-container {
	position: relative;
	width: 100%;
}
.shop-the-look .shop-the-look__products-container:not(.swiper-initialized) .shop-the-look__products {
	overflow: auto;
	padding-bottom: 10px;
	scroll-snap-type: x mandatory;
}
.shop-the-look .shop-the-look__products-container:not(.swiper-initialized) .shop-the-look__product {
	scroll-snap-align: start;
	max-width: 50%;
}
.shop-the-look .shop-the-look__image-wrapper {
	position: relative;
	display: flex;
	flex: 1 0 50%;
	background: var(--shop-the-look-img-bg);
}
.shop-the-look .shop-the-look__image-wrapper-inner {
	position: relative;
	display: block;
	width: 100%;
	padding-top: 100%;
}
.shop-the-look .shop-the-look__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: var(--img-desktop-pos);
	   object-position: var(--img-desktop-pos);
}
.shop-the-look .shop-the-look__point {
	position: absolute;
	top: var(--point-position-top);
	left: var(--point-position-left);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 34px;
	height: 34px;
	padding: 0;
	background: white;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.shop-the-look .shop-the-look__point svg {
	width: 34px;
	height: 34px;
}
.shop-the-look .shop-the-look__point svg:last-child {
	display: none;
}
.shop-the-look .shop-the-look__point.shop-the-look__point--animated:not(.is-active) {
	transform: scale(1) translate(-50%, -50%);
	will-change: transform;
	animation: pulse-black 2s infinite;
}
.shop-the-look .shop-the-look__point.is-active {
	pointer-events: none;
	cursor: default;
}
.shop-the-look .shop-the-look__point.is-active svg:first-child {
	display: none;
}
.shop-the-look .shop-the-look__point.is-active svg:last-child {
	display: block;
}
.shop-the-look .shop-the-look__point:focus-visible {
	outline: 2px solid var(--color-slider-arrow-background);
	outline-offset: 2px;
}
@keyframes pulse-black {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}
.shop-the-look .swiper .shop-the-look__slider-button-prev-ltr,
.shop-the-look .swiper .shop-the-look__slider-button-next-rtl {
	inset-inline-start: 18px;
	inset-inline-end: auto;
}
.shop-the-look .swiper .shop-the-look__slider-button-next-ltr,
.shop-the-look .swiper .shop-the-look__slider-button-prev-rtl {
	inset-inline-start: auto;
	inset-inline-end: 18px;
}
.shop-the-look .swiper .shop-the-look__slider-button {
	top: 50%;
	width: auto;
	padding: 15px 14px;
	border: 1px solid transparent;
	background-color: var(--color-slider-arrow-background);
	color: var(--color-slider-arrow-icon);
	transition-property: background-color, fill var(--timing-base), color var(--timing-base);
	transition-duration: var(--timing-base);
	fill: var(--color-slider-arrow-icon);
	border-radius: 50%;
	transform: translateY(-50%);
}
.shop-the-look .swiper .shop-the-look__slider-button.swiper-button-disabled {
	pointer-events: auto;
}
.shop-the-look .swiper .shop-the-look__slider-button::after {
	content: unset;
}
.shop-the-look .swiper .shop-the-look__slider-button:focus-visible {
	outline: 2px solid var(--color-slider-arrow-background);
	outline-offset: 2px;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.shop-the-look .swiper .shop-the-look__slider-button:hover:not(.swiper-button-disabled) {
		border: 1px solid var(--color-slider-arrow-icon-hover);
		background-color: var(--color-slider-arrow-background-hover);
		color: var(--color-slider-arrow-icon-hover);
		fill: var(--color-slider-arrow-icon-hover);
	}
}
@media (min-width: 768px) {
	.shop-the-look .shop-the-look__title {
		margin-bottom: 50px;
	}
	.shop-the-look .shop-the-look__container {
		flex-direction: row;
	}
	.shop-the-look .shop-the-look__image-wrapper {
		border: 1px solid var(--image-border-color);
	}
	.shop-the-look .shop-the-look__products-container {
		display: flex;
		align-items: center;
		padding: 0 30px;
	}
	.shop-the-look .shop-the-look__products-container:not(.swiper-initialized) .shop-the-look__product {
		max-width: 77.8%;
		-webkit-margin-end: 30px;
		        margin-inline-end: 30px;
	}
	.shop-the-look .shop-the-look__products {
		display: flex;
		height: auto;
	}
}
@media (min-width: 992px) {
	.shop-the-look .shop-the-look__products-container {
		padding: 0 40px;
	}
	.shop-the-look .shop-the-look__products-container:not(.swiper-initialized) .shop-the-look__product {
		-webkit-margin-end: 40px;
		        margin-inline-end: 40px;
	}
}
@media (min-width: 1200px) {
	.shop-the-look .shop-the-look__products-container {
		padding: 0 50px;
	}
	.shop-the-look .shop-the-look__products-container:not(.swiper-initialized) .shop-the-look__product {
		-webkit-margin-end: 50px;
		        margin-inline-end: 50px;
	}
}
@media (min-width: 1501px) {
	.shop-the-look .shop-the-look__products {
		align-items: center;
	}
	.shop-the-look .shop-the-look__point svg {
		width: 44px;
		height: 44px;
	}
	.shop-the-look .shop-the-look__products-container {
		padding: 0 60px;
	}
	.shop-the-look .shop-the-look__products-container:not(.swiper-initialized) .shop-the-look__product {
		-webkit-margin-end: 60px;
		        margin-inline-end: 60px;
	}
	.shop-the-look .shop-the-look__products-container:not(.swiper-initialized) .shop-the-look__product:last-child {
		-webkit-margin-end: 0;
		        margin-inline-end: 0;
	}
}
@media (min-width: 768px) {
	body.rtl .shop-the-look .shop-the-look__container {
		flex-direction: row-reverse;
	}
}
/* stylelint-disable */
.no-js .shop-the-look .shop-the-look__slider-button,
.no-js .shop-the-look .shop-the-look__point {
	display: none;
}
/* stylelint-enable */