.store-location {
	word-break: break-word;
}
.store-location .store-location__container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.store-location .store-location__container.store-location__container--max-width {
	max-width: var(--global-container-width);
	margin-left: auto;
	margin-right: auto;
}
.store-location .store-location__media,
.store-location .store-location__content {
	width: 100%;
}
.store-location .store-location__content {
	align-self: center;
	padding: 20px;
	text-align: var(--text-alignment);
}
.store-location .store-location__media-wrapper {
	position: relative;
	overflow: hidden;
	height: 100%;
	padding-top: 100%;
}
.store-location .store-location__image,
.store-location .store-location__map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.store-location .store-location__image {
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: var(--img-desktop-pos);
	   object-position: var(--img-desktop-pos);
}
.store-location .store-location__item + .store-location__item {
	margin-top: 25px;
}
.store-location .store-location__title {
	margin-bottom: 20px;
}
.store-location .store-location__subtitle {
	margin-bottom: 20px;
}
.store-location .store-location__content-title {
	margin-bottom: 8px;
	font-size: calc(var(--heading-font-size) * 1.2);
	font-weight: bold;
}
.store-location .store-location__button {
	max-width: 500px;
	width: 100%;
}
.store-location .store-location__button + .store-location__button {
	margin-top: 15px;
}
.store-location .store-location__buttons {
	margin-top: 30px;
}
@media (min-width: 768px) {
	.store-location .store-location__content {
		padding: 40px;
	}
}
@media (min-width: 992px) {
	.store-location .store-location__container {
		flex-direction: row;
	}
	.store-location .store-location__container.store-location__container--reverse {
		flex-direction: row-reverse;
	}
	.store-location .store-location__media,
	.store-location .store-location__content {
		width: 50%;
	}
	.store-location .store-location__content {
		max-width: 680px;
	}
}
@media (min-width: 1200px) {
	.store-location .store-location__buttons {
		margin-top: 50px;
	}
}