.text-section-new {
	display: flex;
	justify-content: var(--section-alignment, center);
	opacity: 0;
	text-align: var(--text-align, center);
	word-break: break-word;
}
.text-section-new.animated {
	opacity: 1;
	transition-property: opacity;
	transition-duration: var(--animate-time);
}
.text-section-new .text-section__container {
	max-width: 872px;
	width: 100%;
	padding: 0 16px;
}
.text-section-new .text-section__container.text-section__container--full-width {
	max-width: 100%;
}
.text-section-new .text-section__content {
	color: var(--color-text-secondary);
}
.text-section-new .text-section__content.text-section__content--cut-off {
	position: relative;
	max-height: 200px;
	overflow: hidden;
}
.text-section-new .text-section__content.text-section__content--cut-off::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 5rem;
	background: linear-gradient(180deg, rgba(249, 249, 249, 0) 0%, var(--color-background) 100%);
	pointer-events: none;
}
.text-section-new .text-section__heading + .text-section__content {
	margin-top: 30px;
}
.text-section-new .text-section__subheading {
	margin-bottom: 5px;
}
.text-section-new .text-section__read-more-button {
	position: relative;
	margin-top: 30px;
	padding: 0;
	font-family: var(--heading-font-family);
	font-size: calc(var(--body-font-size) * 0.875);
	color: var(--color-text-primary);
}
.text-section-new .text-section__read-more-button .icon {
	width: 10px;
	height: 10px;
	-webkit-margin-start: 5px;
	        margin-inline-start: 5px;
	transition-property: transform;
	transition-duration: var(--timing-base);
}
.text-section-new .text-section__read-more-button.is-active .icon {
	transform: rotate(180deg);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.text-section-new .text-section__read-more-button:hover .text-section__read-more-button-text {
		-webkit-text-decoration-color: var(--color-text-secondary);
		        text-decoration-color: var(--color-text-secondary);
	}
}
.text-section-new .text-section__read-more-button-text {
	text-decoration: underline;
	-webkit-text-decoration-color: transparent;
	        text-decoration-color: transparent;
	transition-property: -webkit-text-decoration-color;
	transition-property: text-decoration-color;
	transition-property: text-decoration-color, -webkit-text-decoration-color;
	transition-duration: var(--timing-base);
}
html.no-js .text-section-new {
	opacity: 1;
}
@media (min-width: 768px) {
	.text-section-new .text-section__subheading {
		margin-bottom: 10px;
	}
	.text-section-new .text-section__read-more-button {
		font-size: var(--body-font-size);
	}
}
@media (min-width: 1200px) {
	.text-section-new .text-section__container {
		max-width: 960px;
		padding: 0 60px;
	}
}
@media (min-width: 1920px) {
	.text-section-new .text-section__container {
		max-width: 1050px;
		padding: 0 105px;
	}
}