.trend-products {
	opacity: 0;
}
.trend-products.animated {
	opacity: 1;
	transition-property: opacity;
	transition-duration: var(--animate-time);
}
.trend-products .trend-products__header {
	text-align: center;
}
.trend-products .trend-products__label {
	color: var(--color-secondary-text, #757575);
	word-break: break-word;
}
.trend-products .trend-products__title {
	margin-bottom: 20px;
	word-break: break-word;
}
.trend-products .trend-products__container {
	max-width: var(--global-container-width);
	margin: 0 auto;
	padding: 0 20px;
}
.trend-products .trend-products__container.trend-products__container--full-width {
	max-width: 100%;
}
.trend-products .trend-products__row {
	display: flex;
}
.trend-products .trend-products__col {
	width: 100%;
}
.trend-products .trend-products__pagination {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	padding-bottom: 4px;
}
html.no-js .trend-products {
	opacity: 1;
}
@media (min-width: 768px) {
	.trend-products .trend-products__label {
		margin-bottom: 10px;
	}
	.trend-products .trend-products__slider {
		overflow: visible;
	}
	.trend-products .trend-products__row {
		justify-content: center;
		-moz-column-gap: 10px;
		     column-gap: 10px;
	}
	.trend-products .trend-products__col {
		width: calc(33.3333333333% - 6.66px);
	}
	.trend-products .trend-products__pagination {
		display: none;
	}
}
@media (min-width: 1200px) {
	.trend-products .trend-products__title {
		margin-bottom: 40px;
	}
}
.trend-product {
	position: relative;
}
.trend-product .trend-product__image-wrapper {
	position: relative;
	display: block;
	padding-top: 135%;
}
.trend-product .trend-product__image-wrapper.trend-product__image-wrapper--square {
	padding-top: 100%;
}
.trend-product .trend-product__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: var(--img-desktop-pos);
	   object-position: var(--img-desktop-pos);
}
.trend-product .trend-product__image.trend-product__image--placeholder {
	background-color: var(--color-img-placeholder-bg);
}
.trend-product .trend-product__spot-dot {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: var(--hotspot-color);
}
.trend-product .trend-product__spot-close {
	display: none;
	width: 12px;
	height: 12px;
}
.trend-product .trend-product__spot-close svg {
	display: block;
	width: 100%;
	height: 100%;
}
.trend-product .trend-product__spot-button {
	position: absolute;
	top: var(--y-pos);
	left: var(--x-pos);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 34px;
	height: 34px;
	padding: 0;
	border-radius: 50%;
	background-color: var(--hotspot-background);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	color: var(--hotspot-color);
	transform: translate(-50%, -50%);
	transform-origin: 25% 25%;
	transition-property: transform;
	transition-duration: var(--timing-base);
}
.trend-product .trend-product__spot-button.is-active .trend-product__spot-dot {
	display: none;
}
.trend-product .trend-product__spot-button.is-active .trend-product__spot-close {
	display: block;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.trend-product .trend-product__spot-button:hover {
		transform: scale(1.15) translate(-50%, -50%);
	}
}
.trend-product .trend-product__popup {
	position: absolute;
	z-index: 1;
	display: flex;
	visibility: hidden;
	opacity: 0;
	width: auto;
	padding: 10px;
	background-color: var(--color-background);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	transform: translateY(-10px);
	transition-property: opacity, visibility, transform;
	transition-duration: var(--timing-base);
	word-break: break-word;
}
.trend-product .trend-product__popup.trend-product__popup--top {
	bottom: calc(100% - var(--y-pos) + 20px);
}
.trend-product .trend-product__popup.trend-product__popup--bottom {
	top: calc(var(--y-pos) + 20px);
}
.trend-product .trend-product__popup.is-active {
	z-index: 2;
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}
.trend-product .trend-product__popup-image-wrapper {
	flex-shrink: 0;
	align-self: flex-start;
	-webkit-margin-end: 10px;
	        margin-inline-end: 10px;
}
.trend-product .trend-product__popup-image {
	width: 70px;
	max-height: 120px;
	-o-object-fit: cover;
	   object-fit: cover;
	vertical-align: middle;
}
.trend-product .trend-product__popup-content {
	flex-grow: 1;
	flex-basis: 0;
}
.trend-product .trend-product__popup-title {
	color: var(--color-text-primary);
	-webkit-text-decoration-color: transparent;
	        text-decoration-color: transparent;
	transition-property: -webkit-text-decoration-color;
	transition-property: text-decoration-color;
	transition-property: text-decoration-color, -webkit-text-decoration-color;
	transition-duration: var(--timing-base);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.trend-product .trend-product__popup-title:hover {
		-webkit-text-decoration-color: var(--color-text-primary);
		        text-decoration-color: var(--color-text-primary);
	}
}
.trend-product .trend-product__popup-price {
	margin-top: 10px;
}
.trend-product .trend-product__popup-button {
	margin-top: 15px;
	padding: 0;
	border-bottom: 1px solid currentColor;
	color: var(--color-text-primary);
	transition-property: border-color;
	transition-duration: var(--timing-base);
}
.trend-product .trend-product__popup-button[disabled] {
	opacity: 0.6;
	color: currentColor;
	cursor: default;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
	.trend-product .trend-product__popup-button:hover:not([disabled]) {
		border-bottom-color: transparent;
	}
}
@media (max-width: 767.98px) {
	.trend-product .trend-product__popup {
		left: 10px;
		right: 10px;
	}
}
@media (min-width: 768px) {
	.trend-product .trend-product__popup {
		width: 250px;
	}
	.trend-product .trend-product__popup.trend-product__popup--left {
		left: auto;
		right: calc(100% - var(--x-pos) + 20px);
	}
	.trend-product .trend-product__popup.trend-product__popup--right {
		left: calc(var(--x-pos) + 20px);
		right: auto;
	}
}
@media (min-width: 768px) {
	body.rtl .trend-product .trend-product__popup.trend-product__popup--right {
		transform: translate(calc(-100% - 40px), 10px);
	}
	body.rtl .trend-product .trend-product__popup.trend-product__popup--left {
		transform: translate(calc(100% + 40px), 10px);
	}
	body.rtl .trend-product .trend-product__popup.is-active.trend-product__popup--right {
		transform: translate(calc(-100% - 40px), 0);
	}
	body.rtl .trend-product .trend-product__popup.is-active.trend-product__popup--left {
		transform: translate(calc(100% + 40px), 0);
	}
}